
/******************
general tags
******************/
html, body, .md div, .md span, .md applet, .md object, .md iframe,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md p, .md blockquote, .md pre,
.md a, .md abbr, .md acronym, .md address, .md big, .md cite, .md code,
.md del, .md dfn, .md em, .md font, .md ins, .md kbd, .md q, .md s, .md samp,
.md small, .md strike, .md strong, .md sub, .md sup, .md tt, .md var,
.md dl, .md dt, .md dd, .md ol, .md ul, .md li,
.md fieldset, .md form, .md label, .md legend,
.md table, .md caption, .md tbody, .md tfoot, .md thead, .md tr, .md th, .md td{
	margin: 0;
	padding: 0;
	border-width: 0;
	border-style: none;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body .md,
.md input, 
.md select, 
.md textarea,
.md button{
	font-size: 12px;
	line-height: 1.2;
}
@-moz-document url-prefix() {
	/* FF12 does not correctly render form input font sizes */
	.md6 .input input{
		font-size: 11px;
	}
}
.md blockquote:before, .md blockquote:after,
.md q:before, .md q:after {
	content: "";
}
.md blockquote, q {
	quotes: "" "";
}
.md a:hover{
	text-decoration: none;
}
.md a img{
	border: none;
}
.md img{
	border-style: none;
	border-width: 0;
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}
.md p{
	margin-bottom: 1em;
}
.md sup, /* fix for the line-height problem with sub and sup */
.md sub{
        position: relative;
        vertical-align: 0;
}
.md sup{
        bottom: 0.4em;
}
.md sub{
        top: 0.4em;
}
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6{
	margin: 0 0 10px 0;
	font-weight: bold;
}
.md h2, .md h3, .md h4, .md h5, .md h6{
	margin: 14px 0 8px;
}
.md h1	{font-size: 18px;}
.md h2	{font-size: 14px;}
.md h3	{font-size: 13px;}
.md h4	{font-size: 12px;}
.md h5	{font-size: 11px;}
.md h6	{font-size: 10px;}
.md ol{
	margin: 0 0 20px 0;
	padding: 0 0 0 30px;
	list-style-position: outside;
}
.md ul{
	margin: 0 0 20px 8px;
	padding: 0 0 0 10px;
	list-style-position: outside;
}
.md li{
	margin: 0 0 5px 0;
}
.md dl{
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}
.md dt{
	margin: 0 0 5px 0;
}
.md dd{
	margin: 0 0 8px 20px;
}
/******************
tables
******************/
.md table {
	display: table;
	clear: both;
	width : 100%; 
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.md table caption {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
.md table,
.md td,
.md th {
	border-style: solid;
	vertical-align: top;
}
.md td,
.md th {
	border-width: 1px 1px 0 0;
	margin: 0;
	padding: 4px 8px;
}
.md thead th,
.md tbody th, 
.md tfoot th{
	text-align: left;
	font-weight: bold;
}

.md sup{
	bottom: auto;
}
.md table {
	margin: 0 -12px 30px;
	width: 744px;
	display: table;
	clear: both;
	border-width: 0 0 1px 0;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 16px;
}
.md table thead tr{
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.5);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=160, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=160, Color='#000000');
}
.md table thead tr th,
.md table thead tr td{
	border: none;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	padding: 4px 13px 5px;
	background: #003366 url('/DynamicContent/Resources/Images/Furniture/blue_gradrient.gif') repeat-x 0 0;
}
.md table tr td,
.md table tbody tr th{
	color: #003366;
	font-size: 14px;
	padding: 12px 13px 12px;
	border: none;
	border-bottom: 1px solid #b5b5b5;
}
.md table tbody tr th{
	color: #474747;
}
.md ol ol{
	margin: 5px 0 10px 0;
}
body .md,
.md input, 
.md select, 
.md textarea,
.md a{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
}
.md .noPrint,
.md .onlyScreen{
	display: none;
}
.md .hidden{
	display: none !important;
}
.md .onlyPrint{
	display: block !important;
}
.md h1.logo{
	margin-bottom: 20px;
}
.md table, 
.md td, 
.md th{
	border-color: #DDDDDD;
}
.md .nav,
.md .loginPortlet,
.md .colOne,
.md ul.util,
.md .loginPortlet,
.md .utilities,
.md .sectionTitle,
.md .cntxthelp,
.md div.breadcrumb,
.md .searchGlobal,
.md .banner{
	display: none !important;
}
.md .colThree .portlets{
	display: none !important;
}
.md .colThree .online_right{
	display: block !important;
}
/* PFMMDSB-1800 show account details, hide others in print  */
.md .colThree .online_right > *{
	display: none !important;
}
.md .colThree .online_right #Component-AccountDetails_details{
	display: block !important;
}

.md .colThree div[class*='Component-'],
.md .footer div[class*='Component-']
{
	display: none;
}


.md div.colThree,
.md .TransactionsMultiEdit div.colThree {
	float: none;
	padding: 0 10px;
}
.md table{
	width: auto !important;
	margin-left: 5px !important;
}
.md label, .md .label, .md input, .md .input{
	display: block !important;
	clear: both !important;
}
.md .il label,
.md .il input,
.md .il .label,
.md .il .input{
	display: inline !important;
}
#MultiMember label{
	width: auto;
	float: left;
}
#MultiMember span.value{
	display: inline;
}
#MultiMember ul li {
	display: inline;
	padding-right: 8px;
}
#MultiMember ul,
.content .control{
	clear: both;
}
/*********************
Account Summary
*********************/
.md .accountsList th.control,
.md .accountsList td.control {
	display: none;
}
/*********************
Account Activity (Usability 3)
*********************/
.md .details{
	display: block;
    clear: both;
}
.md .details .oneColRow,
.md .details .twoColRow{
    clear: both;
    display: block !important;
    float: left;
    padding-bottom: 10px;
    width: 520px;
}
.md .details .column{
	margin: 0;
    width: 50%;
	float: left;    
}
.md .details label{
	float: left;
	padding-right: 10px;
}
.md .details .value{
	padding-right: 10px;
}
.md .results h2{
	clear: both;
    display: block;
}
.md .results .currentDate{
	font-weight: bold;
    padding: 0 0 20px 0;
    display: block;
    clear: both;
}
.md .selectedBox{
	display: none;
}
/* MRR-3914 hide account details modal box from print  */
.md tr.oddSelected td,
.md tr.evenSelected td{
	padding-bottom: 3px !important;
}
/*********************
Receipt
*********************/
.md .receipts{
	clear: both;
	display: block;
	float: none;
	width: 100%;
}
.md .receipts hr,
.md .calltoactionNext{
	display: none;
}
/*receipt header*/
.receipts .receiptHeader{
	float: none;
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
.receiptHeader .column{
	margin: 0px;
}
.receiptHeader .twoColRow .column{
	float: left;
	width: 50%;
}
.receiptHeader label{
	float: left;
	padding-right: 10px;
}
.receiptHeader .value{
	padding-right: 10px;
}
/*receipt*/
.receipts .receipt{
	border-top: 1px solid #CCCCCC;
	display: block;
	clear: both;
	margin: 0;
	padding: 10px 0;
	width: 100%;
}
.receipt dl{ 
	clear: both;
	float: none;
	margin: 0;
	padding: 0;
	width: 400px;
}
.receipt dt,
.receipt dd{
	margin: 0 0 3px 0;
}
.receipt dt{
	clear: left;
	display: block;
	float: left;
	font-weight: bold;
	padding-right: 5px;
	width: 175px;
}
.receipt dd{
	float: left;
	width: 220px;
	word-wrap: break-word;
    overflow-wrap: break-word;
}
.receiptFail dd.status{
	font-weight: bold;
}
.receipt p{
	clear: both;
	padding-left: 0;
}
.receipt p.note{
	clear: left;
	padding: 10px 5px;
}
.receipt p.noteN{
	margin-bottom: 0px;
}
/*********************
Forms
*********************/
.md div.oneColRow,
.md div.twoColRow{
	padding: 4px 0;
}
.md div.oneColRow label,
.md div.twoColRow label{
	font-weight: bold;
}

.md .asOfDate{
	padding-left: 5px;
}

/**/
