body {
        background:White;
        color:Black;
        text-align:left;
        font:12pt "New Century Schoolbook", "Times New Roman", TimesNR, Times, serif;
}
 
a {
        color:Blue;
        text-decoration:underline;
}
a img {
        border:none;
}
img {
        display:block;
        margin:0 0 12pt;
}
table {
	border : 1px solid #000000;
}
table td,table th {
	border : 1px solid #000000;
}
table th {
	text-align : center;
}
 
.noPrint,
#mainTopWrapper,
#footerLinks,
#footerMap,
#footerUtility,
#countrySelectorContent,
.stepTracker ,
.stepTracker_reg,
.termsprint,
.iconPrint,
.iconSave,
.termsagree,
.button  {
        display:none;
        visibility:hidden;
}
