@font-face {
	font-family: 'broker-icons';
	src:url('/assets/fonts/broker-icons.eot?-bmxh16');
	src:url('/assets/fonts/broker-icons.eot?#iefix-bmxh16') format('embedded-opentype'),
		url('/assets/fonts/broker-icons.svg?-bmxh16#broker-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-br-"], [class*=" icon-br-"] {
	font-family: 'broker-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-br-arrow-up-1:before {
	content: "\e61a";
}

.icon-br-arrow-down-1:before {
	content: "\e600";
}

.icon-br-arrow-right-1:before {
	content: "\e601";
}

.icon-br-arrow-left-1:before {
	content: "\e602";
}

.icon-br-filter:before {
	content: "\e603";
}

.icon-br-download:before {
	content: "\e604";
}

.icon-br-printer:before {
	content: "\e605";
}

.icon-br-group .path1:before {
	content: "\e606";
	color: rgb(29, 29, 27);
}
.icon-br-group .path2:before {
	content: "\e607";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-br-group .path3:before {
	content: "\e608";
	margin-left: -1em;
	color: rgb(29, 29, 27);
}
.icon-br-group .path4:before {
	content: "\e609";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-br-group .path5:before {
	content: "\e60a";
	margin-left: -1em;
	color: rgb(29, 29, 27);
}
.icon-br-group .path6:before {
	content: "\e60b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-br-group .path7:before {
	content: "\e60c";
	margin-left: -1em;
	color: rgb(29, 29, 27);
}
.icon-br-group .path8:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.icon-br-person-1:before {
	content: "\e60e";
}

.icon-br-envelop:before {
	content: "\e60f";
}

.icon-br-bell:before {
	content: "\e610";
}

.icon-br-table:before {
	content: "\e611";
}

.icon-br-file:before {
	content: "\e612";
}

.icon-br-play:before {
	content: "\e613";
}

.icon-br-cog:before {
	content: "\e614";
}

.icon-br-ball:before {
	content: "\e615";
}

.icon-br-graph:before {
	content: "\e616";
}

.icon-br-dashboard:before {
	content: "\e617";
}

.icon-br-book:before {
	content: "\e618";
}

.icon-br-menu:before {
	content: "\e619";
}

.icon-br-search:before {
	content: "\e61b";
}

.icon-br-close:before {
	content: "\e61d";
}

.icon-br-user:before {
	content: "\e61e";
}

.icon-br-arrow-right-2:before {
	content: "\e61f";
}

.icon-br-arrow-left-2:before {
	content: "\e620";
}

.icon-br-arrow-down-2:before {
	content: "\e621";
}

.icon-br-arrow-up-2:before {
	content: "\e622";
}

.icon-br-arrow-left-3:before {
	content: "\e623";
}

.icon-br-arrow-right-3:before {
	content: "\e624";
}

.icon-br-arrow-up-3:before {
	content: "\e625";
}

.icon-br-arrow-down-3:before {
	content: "\e626";
}

