#Content {
    overflow: hidden;
}

/**** Override Bootstrap Grid ****/
.container {
    position: relative;
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 2.222rem);
}

@media(min-width: 768px) {
    .container {
        width: calc(100% - 120px);
    }
}

@media(min-width: 960px) {
    .container {
        width: calc(100% - 2.222rem);
    }
}

/* Header margin */
.sf_cols.mt-100, .container.mt-100 {
    margin-top: 100px;
}

.sf_cols.mt-150, .container.mt-150 {
    margin-top: 150px;
}
/* Header margin for copyright and trademarks */
.sf_cols.mt-70, .container.mt-70 {
    margin-top: 70px;
}

/**************************/
/**** Base ****/
/**************************/

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* highlight colors */
/*::-moz-selection {*/
/*background-color: white;*/
/*color: white;*/
/*}*/

/*::selection {*/
/*background-color: white;*/
/*color: white;*/
/*}*/

* {
    padding: 0;
    margin: 0;
}

.float-right {
    float: right;
}

.gap-right {
    padding-right: 15px;
}

html, html.baseFont_18, body, body.baseFont_18 {
    font-family: 'avertaregular', sans-serif !important;
    /*font-size: 18px;
    line-height: 2.22;*/
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    min-width: 0;
}

@media (min-width: 960px) {
    html, html.baseFont_18, body, body.baseFont_18 {
        /*font-size: 18px;
        line-height: 2.22;*/
        font-size: 19px;
        line-height: 32px;
    }

    .gap-right {
        padding-right: 2rem;
    }
}

body, body.baseFont_18 {
    background: #ffffff;
    color: #2B2C32;
    /*line-height: 2.11em;*/
}

    body.overflow-hidden {
        overflow: hidden;
    }

h1, h2, h3 {
    font-family: 'avertabold', sans-serif;
}

strong {
    font-family: 'avertasemibold', sans-serif;
    font-weight: 600 !important;
}

.animate {
    opacity: 0;
}

.page-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section {
    position: relative;
    clear: both;
}

    .section.lightgrey-bkgrd {
        background: rgba(217, 221, 228, 0.1);
    }

.clsearch {
    clear: both;
}

.cl {
    clear: both;
    font-size: 0;
    line-height: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E8E9EB;
    margin: 0 1rem;
}

@media (min-width: 960px) {

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #E8E9EB;
        margin: 0 4.444rem;
    }
}

.no-wrap {
    white-space: nowrap;
}

.va-middle {
    vertical-align: middle;
}

/**************************/
/**** Colors ****/
/**************************/
.red {
    color: #ee2e24;
}

.cyan {
    color: #00A0AD;
}

.white {
    color: white;
}

.grey {
    color: #B4B7BD;
}

.green {
    color: #7AC143;
}

a, a:visited {
    text-decoration: none !important;
    color: inherit;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

    a.cyan.link, a.cyan.link:visited {
        color: #00A0AD;
    }

.bold {
    font-family: 'avertabold', sans-serif
}

.uppercase {
    text-transform: uppercase;
}

.visible-desktop {
    display: none;
}

@media (min-width: 960px) {
    .visible-desktop {
        display: inline-block;
    }
}

.visible-phone-ib {
    display: inline-block !important;
}

@media (min-width: 960px) {
    .visible-phone-ib {
        display: none !important;
    }
}

.visible-phone {
    display: block !important;
}

@media (min-width: 960px) {
    .visible-phone {
        display: none !important;
    }
}

.hide-tablet-small, .big-searchbox .search-button.hide-tablet-small {
    display: none;
}

@media (min-width: 960px) {
    .hide-tablet-small, .big-searchbox .search-button.hide-tablet-small {
        display: block;
    }
}

@media (min-width: 960px) {
    .hide-tablet-small {
        display: block;
    }
}

.visible-tablet-small-ib {
    display: inline-block !important;
}

@media (min-width: 960px) {
    .visible-tablet-small-ib {
        display: none !important;
    }
}

.hide-desktop {
    display: block;
}

@media (min-width: 960px) {
    .hide-desktop {
        display: none;
    }
}

.hide-phone {
    display: none;
}

@media (min-width: 960px) {
    .hide-phone {
        display: block;
    }
}

.hide-tablet {
    display: block;
}

@media (min-width: 960px) {
    .hide-tablet {
        display: none;
    }
}

@media (min-width: 960px) {
    .hide-tablet {
        display: block;
    }
}

/**************************/
/**** Button & Link ****/
/**************************/

.btn, .link {
    cursor: pointer;
}

.btn {
    border-radius: 0.111rem;
    border-style: none;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: white;
    background-color: #2b2c32;
    text-align: center;
    display: inline-block;
    font-family: 'avertasemibold', sans-serif;
    width: auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    padding: 0 24px;
}

    .btn:hover {
        background-color: #d6190f;
    }

@media (min-width: 960px) {
    .btn {
        font-size: 18px;
        /*padding: 0 75px;*/
    }
}

.btn.btn-teal {
    color: #ffffff;
    background-color: #00a0ad;
}

    .btn.btn-teal a, .btn.btn-teal a:link, .btn.btn-teal a:visited, .btn.btn-teal a:active {
        color: #ffffff;
    }

    .btn.btn-teal:hover {
        background-color: #00a0ad;
    }

.btn.btn-red {
    color: #ffffff;
    background-color: #ee2e24;
    box-shadow: 0 2px 4px 0 rgba(143,19,12,0.39);
    min-width: 80%;
}

    .btn.btn-red:hover {
        background-color: #CA1F16;
    }

.btn.btn-white, a.btn.btn-white.hover-transparency {
    color: #ee2e24;
    -moz-box-shadow: 0 2px 4px 0 rgba(123, 123, 123, 0.39);
    -webkit-box-shadow: 0 2px 4px 0 rgba(123, 123, 123, 0.39);
    box-shadow: 0 2px 4px 0 rgba(123, 123, 123, 0.39);
}

.btn.btn-white {
    background-color: white;
    min-width: 80%;
}

    .btn.btn-white .btn-caption {
        color: white;
    }

.btn.btn-transparent {
    background-color: transparent;
    color: #00A0AD;
    width: auto;
    position: relative;
    display: inline;
    padding: 12px 2.222rem 12px 0;
    padding-right: 30px; /* 15px + 15px */
    font-size: 18px;
    line-height: 24px;
    height: auto;
    white-space: normal;
}

    .btn.btn-transparent.btn:active, .btn.btn-transparent.btn.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: None;
        box-shadow: none;
    }

    .btn.btn-transparent::after {
        position: absolute;
        width: 15px;
        height: 8px;
        /*top: calc(50% - 0.3333rem);*/
        /*top: calc(50% - 4px);*/
        bottom: 19px;
        right: 0;
        content: "";
        background-image: url('/assets/media/svg/arrow-cyan-right.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transition: 0.35s;
        transition: 0.35s;
    }

    .btn.btn-transparent:hover::after {
        right: -6px;
    }

.btn.btn-whiteborder {
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0;
    color: white;
}


/**************************/
/**** Spacing ****/
/**************************/

.mt-0{
    margin-top: 0;
}

.mb-0{
    margin-bottom: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

/**************************/
/**** Heading ****/
/**************************/

h2 {
    position: relative;
    font-size: 1.667rem;
    line-height: 2.222rem;
    padding-bottom: 1.778rem;
    padding-top: 2.778rem;
}

    h2 sup {
        font-size: 14px;
        position: relative;
        top: -16px;
        left: 4px;
    }

@media (min-width: 960px) {
    h2 {
        padding-top: 6.111rem;
        padding-bottom: 3.889rem;
        font-size: 3.333rem;
        line-height: 4.222rem;
    }

        h2 sup {
            font-size: 20px;
            position: relative;
            top: -32px;
            left: 8px;
        }
}

h3 {
    font-size: 1.333rem;
    line-height: 2.333rem;
    padding-bottom: 2rem;
}

@media (min-width: 960px) {
    h3 {
        font-size: 1.556rem;
        line-height: 3.167rem;
    }
}

.photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**************************/
/**** Video ****/
/**************************/
.video-control {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 45px);
    width: 5rem;
    height: 7.222rem;
    cursor: pointer;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

@media (min-width: 960px) {
    .video-control {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.video-control .circle {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

    .video-control .circle::after {
        position: absolute;
        content: "";
        width: 1.333rem;
        height: 1.778rem;
        left: 2.056rem;
        top: 1.611rem;
        background-image: url('/assets/media/svg/ico-play.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

.video-control .text {
    color: white;
    position: absolute;
    text-align: center;
    top: 5.778rem;
    width: calc(100% + 40px);
    left: -20px;
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: "avertabold", sans-serif;
}

/**************************/
/**** Header ****/
/**************************/

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ee2e24;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    font-family: "avertasemibold", sans-serif;
    font-size: 15px;
    /*height: 3.333rem;
    line-height: 3.333rem;*/
    height: 70px;
    line-height: 70px;
    z-index: 499;
}

    .header[data-pcf-stickyheader="false"] {
        position: initial !important;
    }

    .header.header-notification {
        top: 84px;
    }

@media (min-width: 768px) { /* edit */
    .header {
        font-size: 16px;
    }
}

@media (min-width: 960px) {
    .header {
        z-index: 499;
    }
}

.header.open {
    pointer-events: none;
}

@media (min-width: 768px) { /* edit */
    .header {
        height: 8rem;
        line-height: 8rem;
    }

        .header.open {
            pointer-events: all;
        }

    /* Resize stripped no content header */
    .header.stripped {
        height: 5rem;
        line-height: 5rem;
    }
}

.header .main-nav {
    position: relative;
    height: 2.556rem;
    width: 100%;
    line-height: 2.556rem;
    color: white;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    /*top: 0.3889rem;*/
    top: 12px;
}

@media (min-width: 768px) { /* edit */
    .header .main-nav {
        top: 49px;
        height: 48px;
    }

    /* Reposition nav on stripped no content header */
    .header.stripped .main-nav {
        top: 23px;
        height: 48px;
    }
}

.header .main-nav .logo {
    position: relative;
    left: -3px;
    height: auto;
    vertical-align: top;
    margin-right: 3.056rem;
    width: 6.667rem;
    margin-top: 10px;
}

@media (min-width: 360px) { /* edit: phone to overload default that stands now for xs-phone */
    .header .main-nav .logo {
        width: 140px;
        margin-top: 8px;
    }
}

@media (min-width: 768px) { /* edit */
    .header .main-nav .logo {
        width: 9.444rem;
        margin-top: 5px;
    }
}

.header .main-nav .btn {
    background-color: #f15852;
    height: 2.556rem;
    line-height: 2.556rem;
    width: auto;
    padding: 0 2.167rem;
    font-size: 16px;
    margin-left: 3.75rem;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    color: white;
}

@media (min-width: 960px) and (max-width: 1090px) {
    .header .main-nav .btn {
        margin-left: 1rem;
    }
}

.header .main-nav .btn:hover {
    background-color: white;
    color: #ee2e24;
}

.header .main-nav .apply-splash {
    display: inline-block;
}

    .header .main-nav .apply-splash .btn {
        height: unset;
        line-height: 1.3rem;
        padding: 0.5em 1rem;
        font-size: 14px;
        margin-top: -4px;
        max-width: 10em;
        white-space: unset;
    }

@media (min-width: 768px) { /* edit */
    .header .main-nav .apply-splash .btn {
        background-color: #f15852;
        line-height: 1.4rem;
        width: auto;
        max-width: unset;
        padding: 0.66em 2.167rem;
        font-size: 16px;
        margin-left: 3.75rem;
        -webkit-transition: 0.35s;
        transition: 0.35s;
        color: white;
    }
}

@media (min-width: 768px) { /* edit */
    .header.compact {
        height: 4.444rem;
        line-height: 4.444rem;
    }

        .header.compact .main-nav {
            top: 0.9444rem;
        }
}

.a-menu {
    position: relative;
}

    .a-menu.menu-opener {
        z-index: 10;
    }

a.a-menu, a.a-menu:link {
    color: #FFF;
}

/* edit - menu opener label visible on tablet */
@media (min-width: 768px) and (max-width: 960px) {
    .a-menu span {
        display: inline-block; /* visibility override */
        margin-left: 45px;
    }
}
/* edit end */

@media (min-width: 1091px) {
    .a-menu {
        margin-left: 3.75rem;
    }
}

@media (min-width: 960px) and (max-width: 1090px) {
    .a-menu {
        margin-left: 1rem;
    }
}

/**************************/
/**** Sign-in ****/
/**************************/
.a-sign-in {
    position: relative;
    padding-right: 2.389rem;
}

    .a-sign-in .sign-in-lock {
        position: absolute;
        height: 1.222rem;
        width: 0.8889rem;
        top: 0px;
        right: 0.60rem;
    }

.menu-header .a-sign-in .sign-in-lock {
    position: absolute;
    height: 1.222rem;
    width: 0.8889rem;
    top: 6px;
    right: 0.30rem;
}

/* for Splash */
.a-sign-in .sign-in-lock.sign-in-lock-splash {
    top: 0.75rem;
    width: 1rem;
    height: 1.25rem;
    right: 0.33rem;
}

/*.a-sign-in:after {
        position: absolute;
        height: 1.222rem;
        width: 0.8889rem;
        top: 0px;
        right: 0.2778rem;
        background-image: url('/assets/media/svg/ico-lock.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }*/
/**************************/
/**** Hamburger Menu ****/
/**************************/
.hamburger {
    position: relative;
    height: 1.111rem;
    width: 1.444rem;
    top: 0.2222rem;
    margin-left: 0.8889rem;
    display: inline-block;
}

    .hamburger .line {
        position: absolute;
        left: 0;
        height: 0.1667rem;
        width: 1.444rem;
        background-color: white;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

        .hamburger .line.line-1 {
            top: 0;
        }

        .hamburger .line.line-2 {
            top: 0.4444rem;
        }

        .hamburger .line.line-3 {
            top: 0.8889rem;
        }

    .hamburger.open .line-1 {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 16px;
    }

@media (min-width: 960px) {
    .hamburger.open .line-1 {
        top: 17px;
    }
}

.hamburger.open .line-2 {
    opacity: 0;
}

.hamburger.open .line-3 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
}

/**************************/
/**** Menu Right Overlay ****/
/**************************/
.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(34, 34, 34, 0.34);
    pointer-events: none;
    display: none;
    opacity: 0;
    z-index: 498;
}

@media (min-width: 960px) {
    .menu-overlay {
        z-index: 498;
    }
}

.menu-overlay.active {
    display: block;
    pointer-events: all;
}

.menu-right {
    position: fixed;
    background-color: #2B2C32;
    top: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 498;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

    .menu-right.smartbanner-enabled {
        top: 84px;
        z-index: 500;
    }

    .menu-right a, .menu-right a:link, .menu-right a:visited, .menu-right a:hover, .menu-right a:active {
        font-family: "avertabold", sans-serif;
        color: white;
    }

@media (min-width: 960px) {
    .menu-right a {
        margin-bottom: 0.8889rem;
    }

    .menu-right {
        height: 100vh;
        max-width: 910px;
        width: 100%;
    }

        .menu-right.smartbanner-enabled {
            top: 0;
            z-index: 498;
        }
}

.menu-right .menu-inside {
    position: absolute;
    overflow-y: scroll;
    left: 0;
    width: calc(100% + 1.667rem);
    height: 100%;
}

.menu-right .menu-inside-scroll {
    padding: 1.111rem 0 1.111rem 1.111rem;
}

@media (min-width: 960px) {
    .menu-right .menu-inside-scroll {
        padding-top: 9.444rem;
        padding-left: 5.833rem;
        padding-right: 5.556rem;
        padding-bottom: 6.667rem;
    }

        .menu-right .menu-inside-scroll.smartbanner-enabled {
            padding-top: 14.444rem;
        }
}

.menu-right .nav {
    position: relative;
    float: left;
    width: 100%;
}

    .menu-right .nav a {
        display: block;
        font-family: "avertabold", sans-serif;
        font-size: 1.333rem;
        line-height: 2.222rem;
        margin-top: 0.8889rem;
    }

@media (min-width: 960px) {
    .menu-right .nav a {
        margin-top: 0;
        font-size: 2.333rem;
        line-height: 4.222rem;
        position: relative;
        display: inline-block;
        float: left;
        width: 50%;
    }
}

.menu-right .nav a:hover {
    opacity: 0.7;
}

@media (min-width: 960px) {
    .menu-right .nav a.hide-desktop {
        display: none;
    }
}

.menu-right .downloads {
    position: relative;
    margin-top: 1.389rem;
    width: 100%;
    display: flex;
}

    .menu-right .downloads img {
        /*width: calc(50% - 35px);
        height: auto;*/
        height: 40px;
        width: 135px;
    }

        .menu-right .downloads img.link-apple {
            margin-right: 1rem;
        }

        .menu-right .downloads img.link-google {
            margin-right: 0;
        }

@media (min-width: 960px) {
    .menu-right .downloads {
        width: auto;
        margin-top: 2.056rem;
        float: left;
    }

        .menu-right .downloads img {
            /*height: 45px;
            width: 140px;*/
            float: left;
            margin-bottom: 1rem;
        }
}

/*@media (max-width: 350px) {
    .menu-right .downloads {
        display: none;
    }
}*/

.menu-right .social {
    position: relative;
    float: left;
    margin-top: 1.778rem;
    min-width: 210px;
}

@media (min-width: 960px) {
    .menu-right .social {
        float: right;
        margin-top: 2.444rem;
    }
}

.menu-right .social img {
    height: 1.333rem;
    width: auto;
    margin-right: 1.389rem;
}

@media (min-width: 960px) {
    .menu-right .social img {
        margin-left: 1.389rem;
        margin-right: 0;
    }
}

.menu-right .menu-header {
    border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
    position: relative;
    max-width: calc(100vw - 40px);
    padding-bottom: 33px;
    margin-bottom: 1.111rem;
}

@media (min-width: 960px) {
    .menu-right .menu-header {
        padding-bottom: 0.6667rem;
        margin-bottom: 3.056rem;
    }
}

.menu-right .menu-header a {
    font-family: 'avertasemibold';
    margin-left: 0;
    margin-right: 0;
}

    .menu-right .menu-header a:nth-child(1) {
        float: left;
    }

        .menu-right .menu-header a:nth-child(1)::after {
            top: 0.3333rem;
        }

    .menu-right .menu-header a:nth-child(2) {
        float: right;
    }

.menu-right .menu-footer {
    border-top: rgba(255, 255, 255, 0.2) solid 1px;
    position: relative;
    padding-top: 1.444rem;
    max-width: calc(100vw - 40px);
    display: block;
}

@media (min-width: 960px) {
    .menu-right .menu-footer {
        padding-top: 1.611rem;
        margin-top: 2.222rem;
        margin-bottom: 1.111rem;
        display: flex;
        justify-content: space-between;
    }
}

.menu-right .menu-footer a {
    display: block;
    margin-bottom: 0.2778rem;
    font-size: 15px;
    font-family: averta, sans-serif;
}

@media (min-width: 960px) {
    .menu-right .menu-footer a {
        display: inline-flex;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 2.444rem;
        float: left;
        text-align: center;
    }

        .menu-right .menu-footer a:nth-child(1) {
            text-align: left;
        }

        .menu-right .menu-footer a:nth-child(5) {
            text-align: right;
        }
}

.hover-underline {
    position: relative;
}

    .hover-underline::after {
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: white;
        left: 0;
        bottom: 0.3889rem;
        content: "";
        -webkit-transition: 0.25s;
        transition: 0.25s;
    }

    .hover-underline:hover::after {
        position: absolute;
        width: 100%;
    }

.hover-transparency, a.hover-transparency, a:link.hover-transparency, a:visited.hover-transparency, a:active.hover-transparency, a:visited.a-menu, a:link.a-menu, a:active.a-menu {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    color: #FFF;
}

    .hover-transparency:hover {
        opacity: 0.8;
    }

.nav-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 2.556rem;
}

.nav-header {
    position: relative;
    width: 100%;
    max-width: calc(100vw - 40px);
    padding-bottom: 1.556rem;
}

@media (min-width: 960px) {
    .nav-header {
        display: none;
    }
}

.nav-header .btn {
    height: 2.556rem;
    color: white;
    line-height: 2.556rem;
    background-color: #57585d;
    padding: 0 25px;
}

.menu-inside-scroll .nav-right {
    top: 0.5rem;
}

    .menu-inside-scroll .nav-right .hamburger {
        margin-left: 1.611rem;
    }

/**************************/
/**** Footer ****/
/**************************/

.footer {
    position: relative;
    width: 100%;
    background-color: #2B2C32;
    color: white;
    /*padding-top: 3.778rem;*/
    padding-top: 50px;
    padding-bottom: 2.778rem;
    font-size: 0.7222rem;
    line-height: 1.944rem;
}

@media (min-width: 768px) {
    .footer {
        padding-top: 40px;
    }
}

@media (min-width: 961px) {
    .footer {
        padding-top: 3.778rem;
    }
}


.footer .logo {
    position: relative;
    /*margin-bottom: 1.5rem;*/
}

@media (min-width: 768px) {
    .footer .logo {
    }
}

@media (min-width: 960px) {
    .footer .logo {
        margin-bottom: 52px;
    }
}

.footer .logo img {
    width: 7rem;
    height: auto;
}

@media (min-width: 768px) {
    .footer .logo img {
        width: 140px;
    }
}

.footer .headline {
    color: white;
    line-height: 1.5rem;
    margin-bottom: 1.833rem;
}

.footer p,
.footer a,
.footer .copyright {
    font-size: 0.7222rem;
    line-height: 1.333rem;
    /*opacity: 0.6;*/
    color: rgba(255, 255, 255, 0.5);
}

.footer .logo a {
    opacity: 1;
}

@media (max-width: 767px) {
    .footer .logo a {
        margin-bottom: 0;
    }
}

/* edit: para - top occurence (desktop only) */
.footer .footer-desc--top {
    display: none;
}

@media (min-width: 961px) {
    .footer .footer-desc--top {
        display: block;
    }
}
/* edit end */

.footer a {
    display: list-item;
    list-style: none;
    margin-bottom: 0.5rem;
}

/* edit: hide phone-visible cleaners on tablet */
@media (min-width: 768px) {
    .footer .ft-pcf-col-1 + br.cl,
    .footer .ft-pcf-col-2 + br.cl {
        display: none !important;
    }
}
/* edit end */

/* edit: flexbox nav columns on mobile */
@media (max-width: 767px) {
    .footer .footer-nav > .row {
        display: flex;
        flex-wrap: wrap;
    }

        .footer .footer-nav > .row > div {
            flex-grow: 1;
            margin-top: 10px;
            margin-bottom: 10px;
        }
}
/* edit end */

.footer .footer-footer {
    position: relative;
    width: 100%;
    line-height: 2.222rem;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 961px) {
    .footer .footer-footer {
        padding-top: 3.889rem;
    }
}

.footer .footer-footer .social, .footer .footer-footer .social a {
    position: relative;
    height: 2.222rem;
    line-height: 2.222rem;
    float: left;
}

    .footer .footer-footer .social a > img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.389rem;
    }


/* edit: para - bottom occurence (phone and tablet) */
.footer .footer-desc--bottom {
    display: block;
    clear: both;
}

@media (min-width: 961px) {
    .footer .footer-desc--bottom {
        display: none;
    }
}
/* edit end */


.footer .footer-footer .copyright {
    position: relative;
    height: 2.222rem;
    line-height: 2.222rem;
    font-size: 0.6667rem;
    top: 0.2778rem;
    width: 100%;
    float: left;
}

@media (min-width: 961px) {
    .footer .footer-footer .copyright {
        width: auto;
        padding-left: 3.056rem;
    }
}

.footer .footer-footer .downloads {
    position: relative;
    line-height: 2.222rem;
    width: 100%;
    float: left;
    padding: 0;
    margin-bottom: 0.8889rem;
    margin-top: 0.8889rem;
    display: flex;
}

    .footer .footer-footer .downloads img {
        float: left;
        /*width: calc(50% - 35px);
        height: auto;*/
        height: 40px;
        width: 135px;
    }

        .footer .footer-footer .downloads img.link-apple {
            margin-right: 1rem;
        }

        .footer .footer-footer .downloads img.link-google {
            margin-right: 0;
        }

/*@media (max-width: 350px) {
    .footer .footer-footer .downloads {
        display: none;
    }
}*/

@media (min-width: 960px) {
    .footer .footer-footer .downloads {
        height: 2.222rem;
        float: right;
        width: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

        .footer .footer-footer .downloads img {
            /*height: 45px;
            width: 140px;*/
        }
}

.footer .cl-special {
    clear: both;
}

.footer-secure .pcf-col-212 {
    position: relative;
    float: left;
    max-width: 212px;
    font-size: 0.6667rem;
    line-height: 1.667rem;
}

    .footer-secure .pcf-col-212 a {
        font-family: "avertabold", sans-serif;
        display: block;
    }

.footer-secure .footer-header {
    font-family: "avertabold", sans-serif;
    display: block;
    text-transform: uppercase;
}

/**************************/
/**** Keyframes ****/
/**************************/

@-webkit-keyframes MoveUpDown {
    0% {
        bottom: 3.333rem;
    }

    50% {
        bottom: 3rem;
    }

    100% {
        bottom: 3.333rem;
    }
}

@keyframes MoveUpDown {
    0% {
        bottom: 3.333rem;
    }

    50% {
        bottom: 3rem;
    }

    100% {
        bottom: 3.333rem;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/**************************/
/**** Pulsing ****/
/**************************/

.pulsing-point {
    position: absolute;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

    .pulsing-point .pulsing-point-itself {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: #7ac143;
        -webkit-animation: pulse 1s ease-in-out infinite;
        animation: pulse 1s ease-in-out infinite;
        opacity: 0.25;
    }

    .pulsing-point .pulsing-point-middle {
        position: absolute;
        width: 0.6667rem;
        height: 0.6667rem;
        top: 0.6667rem;
        left: 0.6667rem;
        border-radius: 50%;
        background-color: #7ac143;
    }

/**************************/
/**** Tooltip / Hint ****/
/**************************/

.hint {
    padding: 8px;
    cursor: pointer;
}

    .hint .element {
        position: relative;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #00A0AD;
        color: white;
        margin-top: 100px;
        text-align: center;
        line-height: 14px;
        font-size: 10px;
    }

    .hint .hint-bubble {
        position: absolute;
        bottom: 46px;
        left: -27px;
        padding: 18px 30px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(140, 149, 164, 0.3);
        box-shadow: 0 1px 4px 0 rgba(140, 149, 164, 0.3);
        background-color: white;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: 0.35s;
        transition: 0.35s;
    }

        .hint .hint-bubble::before {
            position: absolute;
            width: 18px;
            height: 18px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            bottom: -8px;
            left: 33px;
            -webkit-box-shadow: 0 1px 4px 0 rgba(140, 149, 164, 0.3);
            box-shadow: 0 1px 4px 0 rgba(140, 149, 164, 0.3);
            z-index: -1;
        }

        .hint .hint-bubble::after {
            position: absolute;
            width: 18px;
            height: 18px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            bottom: -8px;
            left: 33px;
            background-color: white;
            z-index: 2;
        }

    .hint:hover .hint-bubble {
        opacity: 1;
        pointer-events: all;
    }

/**************************/
/**** Big Search Box ****/
/**************************/

.big-searchbox {
    max-width: 41.22rem;
    margin: 0 auto 4rem;
    display: block;
}

    .big-searchbox .search {
        display: block;
        width: 100%;
        max-width: 41.22rem;
        border-radius: 2px;
        border-style: none;
        border: solid 1px rgba(186, 191, 200, 0.35);
        background-color: #ffffff;
        height: 3.833rem;
        line-height: initial;
        padding-left: 3.889rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1rem;
        -webkit-transition: 0.25s;
        transition: 0.25s;
        color: #000;
        margin: 0 auto;
    }

::-webkit-input-placeholder { /* Chrome */
    opacity: 0.3;
    color: #2b2c32;
}

:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.3;
    color: #2b2c32;
}

::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.3;
    color: #2b2c32;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    opacity: 0.3;
    color: #2b2c32;
}

::placeholder {
    opacity: 0.3;
    color: #2b2c32;
}




.big-searchbox .ico-search {
    position: relative;
    width: 1.111rem;
    height: 1.111rem;
    background-image: url('/assets/media/svg/ico-search-grey.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -2.5rem;
    left: 1.5rem;
    float: left;
}

.big-searchbox .btn-delete {
    position: absolute;
    width: 2.111rem;
    height: 2.111rem;
    top: 0.8889rem;
    right: 1.111rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

    .big-searchbox .btn-delete:hover .cross {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .big-searchbox .btn-delete .cross {
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: 0.5556rem;
        right: 0.5556rem;
        padding: 0.2222rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.35s;
        transition: 0.35s;
    }

        .big-searchbox .btn-delete .cross .line {
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #00A0AD;
        }

            .big-searchbox .btn-delete .cross .line:nth-child(1) {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .big-searchbox .btn-delete .cross .line:nth-child(2) {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

.big-searchbox .active .search {
    color: #8c95a4;
}

.big-searchbox .active .btn-delete {
    opacity: 1;
    pointer-events: all;
}

/*This clears out the x close on input elements in IE 11*/
.big-searchbox input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.big-searchbox input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}


/**************************/
/**** Cards ****/
/**************************/
.cards {
    width: 100%;
    display: block;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

    .cards .card {
        width: 100%;
        height: auto;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 2px 3px 0 rgba(186, 191, 200, 0.35);
        margin-bottom: 2rem;
        margin-right: 1rem;
        padding: 2rem 1rem 1rem;
    }

        .cards .card .ico {
            width: 1.44rem;
            height: 1.44rem;
            margin: .35rem 1rem 8rem 0;
            float: left;
        }

        .cards .card .card-title {
            font-family: 'avertabold', sans-serif;
            font-size: 1rem;
            margin-bottom: 1.556rem;
        }

        .cards .card .card-body {
            font-size: 0.8333rem;
            line-height: 1.87em;
            padding-right: 3rem;
        }

        .cards .card .arrow {
            float: right;
            position: relative;
        }

.big-searchbox .search-button {
    position: relative;
    width: auto;
    height: 2.111rem;
    bottom: 2.8889rem;
    right: 1px;
    color: #ee2e24;
    display: inline-block;
    font-size: 1rem;
    font-family: 'avertabold', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
    background: #fff;
    padding: 0 30px 0 10px;
}

    .big-searchbox .search-button:hover {
        color: #BB0000;
    }

@media (min-width: 960px) {

    .cards .card {
        width: 14.5rem;
        height: auto;
        min-height: 310px;
    }

        .cards .card:last-child {
            margin-right: 0;
        }

        .cards .card .ico {
            float: none;
            margin: 0 0 1.722rem 0;
        }

        .cards .card .card-title {
            margin-bottom: 1.556rem;
        }

        .cards .card .card-body {
            font-size: 0.8333rem;
            line-height: 1.87em;
            margin-bottom: 1.722rem;
        }

        .cards .card .arrow {
            float: none;
            clear: both;
            position: relative;
            display: block;
            margin-top: 1.722rem;
            padding: 0 1rem 0 0;
            margin-right: -3rem;
        }
}
/*style for the search result drop-down*/
ul.ui-menu {
    padding: 1.667rem 3.056rem 2.111rem 2.5rem;
    background: #FFF;
}

    ul.ui-menu li a {
        color: #2b2c32;
    }

.ui-autocomplete {
    width: 80% !important;
    max-width: 1150px;
    left: 0% !important;
    margin: auto;
}
/* siteInfinity adds a space to empty divs so clearfix divs have a height. These styles take care of this.  */
.clearfix {
    font-size: 0;
    line-height: 0;
    clear: both;
}
